{% load static shop_tags %}

{% render_update_cart_currency_form as currency_form_context %}
<div class="dropdown" style="display: inline;
width: 50px;">
    <form id="updateCurrencyForm" method="post" action="{% url 'shop:update_cart_currency' %}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ currency_form_context.csrf_token }}">
        <a href="">{% if currency_form_context.selected_valute %}
                {{ currency_form_context.selected_valute.name }}
                {% else %}
                Валюта
                {% endif %}</a>
        <div class="dropdown-box">

            {% for valute in currency_form_context.form.valute.field.queryset %}
             <input type="radio" name="{{ currency_form_context.form.valute.name }}" value="{{ valute.pk }}"
                           id="{{ currency_form_context.form.valute.name }}_{{ valute.pk }}"
                           {% if currency_form_context.selected_valute.pk == valute.pk %}checked{% endif %}>
                     <label for="{{ currency_form_context.form.valute.name }}_{{ valute.pk }}">{{ valute.name }}</label>
            {% endfor %}
        </div>

    </form>
</div>

