{% extends 'site/shop3/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}

{% block content %}
<!-- Start of Main -->
<!-- Start of Page Header -->
<div class="page-header">
    <div class="container">
        <h1 class="page-title mb-0">Новости</h1>
    </div>
</div>
<!-- End of Page Header -->

<!-- Start of Page Content -->
<div class="row  mb-10">
    <div class=" col-xl-3">
        <div class="toolbox-item toolbox-sort select-box text-dark">
            <select class="form-control select2-2" id="{% include 'default/include/"  style="height: 47px">
                <option value="featured">
                    Рубрика
                </option>
                {% for category in categories %}
                <option value="{% url 'webmain:blogs' %}?category={{ category.id }}">{{ category.name }}
                </option>  <!-- Установите URL как значение -->
                {% endfor %}

            </select>
        </div>
        <div class="toolbox-item toolbox-sort select-box text-dark">
            <select class="form-control select2-2" id="filterSelect" style="height: 47px">
                <option value="featured">Фильтр</option>
                <option value="1">По алфавиту</option>
                <option value="2">Новое</option>
                <option value="3">Старое</option>
            </select>
        </div>


    </div>

    <div class=" col-xl-9">

        {% for blog in blogs %}
        <article class="post post-classic overlay-zoom mb-4" style="display:flex;">
            <figure class="post-media br-sm" style="width: 50%;">
                <a href="{% url 'webmain:blogdetail' blog.slug %}">
                    <img src="{{ blog.cover.url }}" style="width: 465px; height: 250px;" alt="blog">
                </a>
            </figure>
            <div class="post-details" style="width: 50%;">

                <h4 class="post-title">
                    <a href="{% url 'webmain:blogdetail' blog.slug %}">{{blog.name}}</a>
                </h4>

                <div class="post-content">
                    <p>{{blog.description|safe|truncatechars:375}}</p>
                    <a href="{% url 'webmain:blogdetail' blog.slug %}" class="btn btn-link btn-primary">(Подробнее...)</a>
                </div>
                <div class="post-meta">
                    - <a class="post-date">{{blog.create}}</a>
                </div>
            </div>
        </article>
        {% endfor %}

    </div>
</div>


{% endblock content %}