{% extends 'wolmart/base_profile.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}


{% block content %}
<div class="myaccount-content">
<div class="shopping-wishlist-form table-responsive">
    <div class="card mb-3">
        <table class="table text-center">
            <thead>
            <tr>
                <th class="product-thumb"> </th>
                <th class="product-total-price">
                    Информация
                </th>
                <th class="product-thumb">
                    Дата
                </th>
            </tr>
            </thead>
            <tbody>
            {% for application in applications %}
            <tr >
                <td class="product-name">
                    <a class="action" href="{% url 'shop:applicationdetail' application.pk %}" >
                        <i class="pe-7s-mail" style="top: 0; left:-5px;"></i>
                        {% if ticket.status == 0 %}<span class="new_ticket">*</span>{% endif %}
                    </a>
                </td>
                <td>{{ application.products.name }}</td>
                <td><i class="pe-7s-date"></i> <span>{{ application.create }}</span></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
    {% include 'wolmart/include/paginations.html' with items=applications %}

</div>
</div>

<style>
    .new_ticket {
        background: #336699;
        height: 20px;
        display: inline-flex;
        width: 20px;
        justify-content: center;
        border-radius: 15px;
        color: #fff;
    }
    i.pe-7s-mail {
        font-size: 24px;
        position: relative;
        top: 10px;
    }
    .card{
        --bs-card-border-width:0;
    }

</style>
{% endblock content %}