{% extends 'site/useraccount/base.html' %}
{% load i18n %}
{% load static  %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}

{% endblock head %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0 mt-2">
                    <div class="welcome-text">
                        <h4>{% trans 'Претензии' %}</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end  mt-sm-0 d-flex">


                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle text-nowrap table-hover table-centered mb-0">
                    <thead class="bg-light-subtle">
                    <tr>
                        <th>{% trans 'Фото и название недвижимости' %}</th>
                        <th>{% trans 'Размер' %}</th>
                        <th>{% trans 'Расположение' %}</th>
                        <th>{% trans 'Пользователь' %}</th>
                        <th>{% trans 'Сумма' %}</th>
                        <th>{% trans 'Дата' %}</th>
                        <th>{% trans 'Статус' %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for complaint in complaints %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <div>
                                    <img src="{{ complaint.advertisement.galleryadvertisement_set.all.0.image.url }}" alt="" class="avatar-md rounded border border-light border-3">
                                </div>
                                <div>
                                    <a href="{% url 'publication:advertisement' complaint.advertisement.slug %}" class="text-dark fw-medium fs-15">{{ complaint.advertisement.name }}</a>
                                </div>
                            </div>

                        </td>
                        <td>{{ complaint.advertisement.area }}</td>
                        <td>{{ complaint.advertisement.address }}</td>
                        <td>{{ complaint.author }}</td>
                        <td>{{ complaint.booking.amount }}</td>

                        <td>{{ complaint.create|date:"d/m/Y" }}</td>
                        <td>{{ complaint.get_type_display }}</td>
                        <td class="py-2 text-right">
                            <div class="dropdown text-sans-serif">
                                <a href="{% url 'chats:chat_detail' complaint.chat.id %}" class="btn btn-primary tp-btn-light sharp" href=""><span>...</span></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'site/useraccount/include/paginations.html' with items=advertisements %}
        </div>
    </div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">{% trans 'Поиск' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="idSearch" style="display: none;">
                    <input type="text" id="searchInput" class="form-control" placeholder="{% trans 'Введите ID' %}">
                </div>

                <div id="idSearchName" style="display: none;">
                    <input type="text" id="searchInputName" class="form-control" placeholder="{% trans 'Введите тему' %}">
                </div>

                <div id="dateSearch" style="display: none;">
                    <h5 class="mb-2" style="width: max-content">{% trans "Дата" %}</h5>
                    <input type="date" id="searchDate" class="form-control" placeholder="{% trans 'Выберите дату' %}">
                </div>

                <div id="typeSearch" style="display: none;">
                    <select id="typeSelect" class="form-control">
                        <option value="">{% trans 'Выберите статус' %}</option>
                        {% for status in statuses %}
                        <option value="{{ status.0 }}">{{ status.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                <button type="button" class="btn btn-primary" onclick="performSearch()">{% trans 'Поиск' %}</button>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', () => {
        const deleteButtons = document.querySelectorAll('.delete-advertisement');

        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                const advertisementId = button.getAttribute('data-id');

                // Подтверждение удаления
                if (!confirm('Вы уверены, что хотите удалить это объявление?')) return;

                fetch(`/advertisements/${advertisementId}/delete/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => {
                        // Проверяем, успешен ли HTTP-статус
                        if (!response.ok) {
                            throw new Error(`Ошибка HTTP: ${response.status}`);
                        }
                        return response.json(); // Парсим JSON
                    })
                    .then(data => {
                        if (data.success) {
                            alert(data.message); // Показываем сообщение об успешном удалении
                            button.closest('.lists-group-item').remove(); // Удаляем элемент из DOM
                        } else {
                            alert('Ошибка: ' + (data.error || 'Не удалось удалить объявление.'));
                        }
                    })
                    .catch(error => {
                        console.error('Ошибка:', error);
                        alert('Произошла ошибка при удалении.');
                    });
            });
        });
    });

    // Функция для получения CSRF-токена
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
<script>
    function openSearch(type) {
        const modalLabel = document.getElementById('searchModalLabel');
        modalLabel.textContent = type === 'id' ? '{% trans "Поиск по ID" %}' :
            type === 'type' ? '{% trans "Поиск по типу" %}' :
                type === 'name' ? '{% trans "Поиск по заголовку" %}' :
                    type === 'date' ? '{% trans "Поиск по дате" %}' : '';

        document.getElementById('idSearch').style.display = 'none';
        document.getElementById('idSearchName').style.display = 'none';
        document.getElementById('typeSearch').style.display = 'none';
        document.getElementById('dateSearch').style.display = 'none';

        switch (type) {
            case 'id':
                document.getElementById('idSearch').style.display = 'block';
                break;
            case 'type':
                document.getElementById('typeSearch').style.display = 'block';
                break;
            case 'name':
                document.getElementById('idSearchName').style.display = 'block';
                break;
            case 'date':
                document.getElementById('dateSearch').style.display = 'block';
                break;
        }

        $('#searchModal').modal('show');
    }

    function performSearch() {
        const searchId = document.getElementById('searchInput').value;
        const searchType = document.getElementById('typeSelect').value;
        const searchName = document.getElementById('searchInputName').value;
        const dateSearch = document.getElementById('searchDate').value;

        // Формируем URL для запроса
        const url = new URL(window.location.href);
        if (searchId) {
            url.searchParams.set('search_id', searchId);
        } else if (searchType) {
            url.searchParams.set('search_type', searchType);
        } else if (searchName) {
            url.searchParams.set('search_name', searchName);
        } else if (dateSearch) {
            url.searchParams.set('search_date', dateSearch);
        }
        console.log(url.toString()); // Проверяем, что URL сформирован правильно

        // Перезагружаем страницу с новыми параметрами
        window.location.href = url.toString();

        // Закрыть модальное окно после выполнения поиска
        $('#searchModal').modal('hide');
    }
</script>
<script>
    document.getElementById('checkAll').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('input[name="advertisement_ids"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });

    function deleteSelected() {
        const selectedIds = Array.from(document.querySelectorAll('input[name="advertisement_ids"]:checked')).map(checkbox => checkbox.value);
        if (selectedIds.length === 0) {
            alert("{% trans 'Выберите хотя бы один элемент для удаления.' %}");
            return;
        }

        if (confirm("{% trans 'Вы уверены, что хотите удалить выбранные элементы?' %}")) {
            const csrfToken = '{{ csrf_token }}'; // Получаем CSRF-токен

            fetch("{#% url 'useraccount:advertisement_delete' %#}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    advertisement_ids: selectedIds
                })
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert("{% trans 'Ошибка при удалении элементов.' %}");
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert("{% trans 'Ошибка при удалении элементов.' %}");
                });
        }
    }

    function deleteadvertisement(advertisementId) {
        if (confirm("{% trans 'Вы уверены, что хотите удалить этот элемент?' %}")) {
            const csrfToken = '{{ csrf_token }}';

            fetch("{#% url 'useraccount:advertisement_delete' %#}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    advertisement_ids: [advertisementId]
                })
            })
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert("{% trans 'Ошибка при удалении элемента.' %}");
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert("{% trans 'Ошибка при удалении элемента.' %}");
                });
        }
    }
</script>

{% endblock content %}