{% extends 'site/shop4/base.html' %}
{% load static generals_tag  shop_tags i18n %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<style>
    @media (max-width: 768px) {
  .banner {
    background-position: -210px center !important;
    height: 250px;
  }
}

.link-banner-newsletter .banner-media img {
    min-height: 250px;
    height: 150px;
}
    .product-details-description .meta-action .btn {
        height: 40px;
        line-height: 40px;
        padding: 0 15px;
        font-weight: 500;
        font-size: 10px;
        margin-top: 10px;
    }
    .product-details-description .product-quantity button {
        background: none;
        color: #fff;
        height: 40px;
        border: 0;
        font-weight: 500;
        font-size: 16px;
        padding: 0;
    }
    .product-details-description .product-quantity button {
        background: none;
        color: #fff;
        height: 40px;
        border: 0;
        font-weight: 500;
        font-size: 12px;
        padding: 0;
    }
    .product-details-description .product-quantity input {
        width: 35px;
        height: 40px;
        border: 0;
        padding: 0 5px;
        background: none;
        font-size: 12px;
        font-weight: 500;
        outline: none;
        color: #fff;
        text-align: center;
    }
    .product-details-description .meta-action .action {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: #494949;
        display: block;
        border-radius: 5px;
        margin-top: 10px;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear;
    }
    form.add-to-cart-form {
        display: flex;
    }
    .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
{% endblock head %}

{% block content %}
<!-- Start of Main -->
<div class="main">
    <div class="container">
        <div class="mb-4 mt-4" style=" z-index: 1; position: relative; ">
            <div class="swiper-container swiper-theme nav-inner swiper-nav-md animation-slider" data-swiper-options="{
                        'autoplay': {
                            'delay': 8000,
                            'disableOnInteraction': false
                        }
                    }">
                <div class="swiper-wrapper row cols-1 gutter-no">
                    <div class="swiper-slide banner banner-fixed intro-slide intro-slide1 br-sm" style="background-image: url({{ json_fields.slide_1_image.info }});
                            background-color: #262729;">
                        <div class="banner-content y-50 x-50 w-100 text-center">
                            <h5  style="    font-size: 44px;" class="banner-subtitle text-primary font-weight-normal text-capitalize font-secondary ls-25 slide-animate"
                                data-animation-options="{'name': 'fadeInDownShorter', 'duration': '.8s'}">{{ json_fields.slide_1_title.field }}
                            </h5>
                            <p class="ls-25 slide-animate" data-animation-options="{
                                        'name': 'fadeInLeftShorter', 'duration': '.5s', 'delay': '.5s'
                                    }">{{ json_fields.slide_1_description.field|safe }}</p>
                            <a href="{{ json_fields.slide_1_button_link.field }}"
                               class="btn btn-white btn-rounded btn-icon-right slide-animate"
                               data-animation-options="{'name': 'fadeInUpShorter', 'duration': '.5s', 'delay': '.5s'}">
                                {{ json_fields.slide_2_button.field }}<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Of Intro Slide 1 -->
                    <div class="swiper-slide banner banner-fixed intro-slide intro-slide2  br-sm" style="background-image: url({{ json_fields.slide_2_image.info }});
                                background-color: #DCE0DF;">
                        <div class="banner-content y-50">
                            <h5 style="    font-size: 44px;" class="banner-subtitle text-primary font-secondary font-weight-normal text-capitalize mb-0 lh-1 ls-25 slide-animate"
                                data-animation-options="{'name': 'fadeInDownShorter', 'duration': '.8s'}">{{ json_fields.slide_2_title.field }}</h5>

                            <p class="text-default font-weight-normal ls-25 slide-animate" data-animation-options="{
                                        'name': 'fadeInDownShorter', 'duration': '.8s', 'delay': '.6s'
                                    }">{{ json_fields.slide_2_description.field|safe }}
                            </p>
                            <a href="{{ json_fields.slide_2_button_link.field }}"
                               class="btn btn-white btn-rounded btn-icon-right slide-animate"
                               data-animation-options="{'name': 'fadeInDownShorter', 'duration': '.8s', 'delay': '.8s'}">
                                {{ json_fields.slide_2_button.field }}
                                <i class="w-icon-long-arrow-right"></i></a>
                        </div>
                    </div>
                    <!-- End of Intro Slide 3 -->
                    <div class="swiper-slide banner banner-fixed intro-slide intro-slide3 br-sm" style="background-image: url({{ json_fields.slide_3_image.info }});
                                background-color: #696A6E;">
                        <div class="banner-content y-50 text-right">
                            <div class="slide-animate" data-animation-options="{
                                        'name': 'fadeInUpShorter', 'duration': '.7s'
                                    }">
                                <h5  style="    font-size: 44px;"
                                        class="banner-subtitle text-primary font-secondary font-weight-normal ls-25 mb-0 lh-1">
                                    {{ json_fields.slide_3_title.field }}
                                </h5>
                                <p class="text-white ls-25">
                                    {{ json_fields.slide_3_description.field|safe }}
                                </p>
                                <a href="{{ json_fields.slide_3_button_link.field }}"
                                   class="btn btn-white btn-outline btn-rounded btn-icon-right">
                                    {{ json_fields.slide_3_button.field }}
                                    <i class="w-icon-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="swiper-button-next"></button>
                <button class="swiper-button-prev"></button>
            </div>
        </div>
        <!-- End of Intro Wrapper -->
        <div class="banner link-banner-newsletter d-flex mb-8 align-items-center row gutter-no br-sm appear-animate fadeIn appear-animation-visible" style="background-image: url({{ json_fields.mobile_app_fone.info }}); background-color: rgb(39, 57, 61); animation-duration: 1.2s;">
            <div class="col-xl-5 col-lg-4 mr-auto">
                <figure class="banner-media d-lg-show">
                    <img src="{{ json_fields.mobile_app.info }}" alt="Banner-image">
                </figure>
            </div>
            <div class="banner-content col-xl-5 col-lg-6 col-sm-8 mb-4">
                <h2 class="banner-title text-white text-capitalize font-secondary font-weight-bolder">
                    {{ json_fields.mobile_app_title.field }}
                </h2>
                <p>
                    {{ json_fields.mobile_app_description.field }}
                </p>
                {% include 'site/shop5/include/subscriptions.html' %}
                <style>
                    .banner-content form #subscribeEmail {
        height: 45px;
        margin-top: 20px;
    }
                </style>
            </div>
            <div class="col-lg-2 col-sm-4 newsletter-button">
                <a href=" {{ json_fields.mobile_app_link_google.field }}">
                    <img src="{% static 'site/wolmart/assets/images/demos/demo9/banner/button-1.jpg' %}" class="mb-4" alt="Button" width="141" height="41" style="background-color: #121315">
                </a>
                <a href=" {{ json_fields.mobile_app_link_apsrote.field }}">
                    <img src="{% static 'site/wolmart/assets/images/demos/demo9/banner/button-2.jpg' %}" alt="Button" width="141" height="41" style="background-color: #121315">
                </a>
            </div>
            <!-- End of Content Right -->
        </div>
        <!-- End of Banner Product Wrapper -->


        <div class="swiper-container swiper-theme icon-box-wrapper appear-animate br-sm mt-6 mb-10" data-swiper-options="{
                    'slidesPerView': 1,
                    'breakpoints': {
                        '576': {
                            'slidesPerView': 2
                        },
                        '768': {
                            'slidesPerView': 3
                        },
                        '992': {
                            'slidesPerView': 3
                        },
                        '1200': {
                            'slidesPerView': 4
                        }
                    }
                }">
            <div class="swiper-wrapper row cols-md-4 cols-sm-3 cols-1">
                <div class="swiper-slide icon-box icon-box-side text-dark">
                            <span class="icon-box-icon icon-shipping">
                                <i class="w-icon-truck"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_1_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_1_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark">
                            <span class="icon-box-icon icon-payment">
                                <i class="w-icon-bag"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_2_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_2_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark icon-box-money">
                            <span class="icon-box-icon icon-money">
                                <i class="w-icon-money"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_3_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_3_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark icon-box-chat">
                            <span class="icon-box-icon icon-chat">
                                <i class="w-icon-chat"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_4_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_4_description.field|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Category Wrapper -->

        <div class="row deals-wrapper appear-animate mb-7">

            <div class="col-lg-12 mb-4">
                <div class="single-product h-100 br-sm">
                    <h4 class="title-sm title-underline font-weight-bolder ls-normal">{{ json_fields.hot_ones_title.field }}</h4>
                    <div class="swiper">
                        <div class="swiper-container swiper-theme nav-top swiper-nav-lg" data-swiper-options="{
                                    'spaceBetween': 20,
                                    'slidesPerView': 1
                                }">
                            <div class="swiper-wrapper row cols-1 gutter-no">

                                {% for product in hot_ones %}
                                <div class="swiper-slide">
                                    <div class="product product-single row">
                                        <div class="col-md-6">
                                            <div class="product-gallery product-gallery-vertical mb-0">
                                                <div class="swiper-container product-single-swiper swiper-theme nav-inner">
                                                    <div class="swiper-wrapper row cols-1 gutter-no">
                                                        {# Основное изображение #}
                                                        {% if product.image %}
                                                        <div class="swiper-slide">
                                                            <figure class="product-image">
                                                                <img src="{{ product.image.url }}"
                                                                     data-zoom-image="{{ product.image.url }}"
                                                                     alt="Main Product Image" style="width:800px; height:570px;">
                                                            </figure>
                                                        </div>
                                                        {% endif %}

                                                        {# Дополнительные изображения из галереи #}
                                                        {% if product.productsgallery_set.all %}
                                                        {% for gallery_image in product.productsgallery_set.all %}
                                                        <div class="swiper-slide">
                                                            <figure class="product-image">
                                                                <img src="{{ gallery_image.image.url }}"
                                                                     data-zoom-image="{{ gallery_image.image.url }}"
                                                                     alt="Gallery Image {{ forloop.counter }}"
                                                                     style="width:800px; height:570px;">
                                                            </figure>
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                    <button class="swiper-button-next"></button>
                                                    <button class="swiper-button-prev"></button>
                                                </div>

                                                <div class="product-thumbs-wrap swiper-container"
                                                     data-swiper-options="{
                'breakpoints': {
                    '992': {
                        'direction': 'vertical',
                        'slidesPerView': 'auto'
                    }
                }
             }">
                                                    <div class="product-thumbs swiper-wrapper row cols-lg-1 cols-4 gutter-sm">
                                                        {# Миниатюра основного изображения #}
                                                        {% if product.image %}
                                                        <div class="swiper-slide product-thumb">
                                                            <img src="{{ product.image.url }}"
                                                                 alt="Main Product Thumb" width="60" height="68"/>
                                                        </div>
                                                        {% endif %}

                                                        {# Миниатюры галереи #}
                                                        {% if product.productsgallery_set.all %}
                                                        {% for gallery_image in product.productsgallery_set.all %}
                                                        <div class="swiper-slide product-thumb">
                                                            <img src="{{ gallery_image.image.url }}"
                                                                 alt="Gallery Thumb {{ forloop.counter }}" width="60"
                                                                 height="68"/>
                                                        </div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="product-details scrollable">
                                                <h2 class="product-title mb-1">
                                                    <a href="{% url 'shop:products' product.slug %}">
                                                        {{product.name}}
                                                    </a>
                                                </h2>

                                                <hr class="product-divider">

                                                <div class="product-price">
                                                    <ins class="new-price ls-50">{% currency_conversion_for_products request product.price product.valute.id %}&nbsp;{{ cart.valute.icon_code }}
                                                    </ins>
                                                </div>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        {# Рассчитываем ширину рейтинга в процентах (5 звезд = 100%) #}
                                                        <span class="ratings"
                                                              style="width: {% widthratio product.review_rating 5 100 %}%;"></span>
                                                        <span class="tooltiptext tooltip-top">
                                                            Рейтинг: {{ product.review_rating|floatformat:1 }}/5
                                                        </span>
                                                    </div>
                                                    {# Ссылка с реальным количеством отзывов #}
                                                    <a href="{{ product.get_absolute_url }}#reviews"
                                                       class="rating-reviews">
                                                        ({{ product.review_count }}
                                                        {{ product.review_count|pluralize:"отзыв,отзыва,отзывов" }})
                                                    </a>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                {% if not user.type == 2 %}
                                                {% if product.quantity == 0 and product.order %}
                                                {% include 'site/shop4/include/form_applications.html' %}
                                                {% else %}
                                                <form method="post" action="{% url 'shop:add_to_cart' %}"
                                                      data-product-id="{{ product.id }}" class="add-to-cart-form">
                                                    {% csrf_token %}
                                                    <div class="product-form pt-4">
                                                        <div class="product-qty-form mb-2 mr-2"
                                                             data-product="{{ product.id }}">
                                                            <div class="input-group">
                                                                <input name="quantity"
                                                                       class="quantity form-control"
                                                                       id="quantityvalue"
                                                                       data-product="{{ product.id }}"
                                                                       maxlength="{{ product.quantity }}"
                                                                       value="1" min="1"
                                                                       max="{{ product.quantity }}"
                                                                       type="number">
                                                                <button type="button"
                                                                        class="qtyplus inc qty-btn quantity-plus w-icon-plus qty"></button>
                                                                <button type="button"
                                                                        class="qtyminus dec qty-btn quantity-minus w-icon-minus qty"></button>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="variation_slug"
                                                               value="{{ product.productsvariable_set.all.first.slug }}">


                                                        <button class="btn btn-primary mobile-button"
                                                                type="submit" style="margin-bottom: 2%;">
                                                            <i class="w-icon-cart"></i>
                                                            <span>{% trans 'В корзину' %}</span>
                                                        </button>
                                                    </div>
                                                </form>

                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End of Product Single -->

                            </div>

                            <button class="swiper-button-next"></button>
                            <button class="swiper-button-prev"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none">
                <div class="widget widget-products widget-products-bordered h-100">

                    <div class="widget-body br-sm h-100">
                        <h4 class="title-sm title-underline font-weight-bolder ls-normal mb-2 ml-2">{{ json_fields.top_20_title.field }}</h4>
                        <div class="swiper">
                            <div class="swiper-container swiper-theme nav-top" data-swiper-options="{
                                        'slidesPerView': 1,
                                        'spaceBetween': 20,
                                        'breakpoints': {
                                            '576': {
                                                'slidesPerView': 2
                                            },
                                            '768': {
                                                'slidesPerView': 3
                                            },
                                            '992': {
                                                'slidesPerView': 1
                                            }
                                        }
                                    }">
                                <div class="swiper-wrapper row cols-lg-1 cols-md-3">
                                    {% for product in top_20 %}
                                    {% if forloop.counter0|divisibleby:3 %}
                                    <div class="swiper-slide product-widget-wrap">
                                        {% endif %}
                                        <div class="product product-widget {% if not forloop.last and not forloop.counter|divisibleby:3 %}bb-no{% endif %}">
                                            <figure class="product-media">
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="105" height="118" />
                                                </a>
                                            </figure>
                                            <div class="product-details">
                                                <h4 class="product-name">
                                                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                </h4>
                                                <div class="ratings-container">
                                                    <div class="ratings-full">
                                                        <span class="ratings" style="width: {{ product.rating_percent }}%;"></span>
                                                        <span class="tooltiptext tooltip-top"></span>
                                                    </div>
                                                </div>
                                                <div class="product-price">
                                                    <ins class="new-price">{% currency_conversion_for_products request product.price product.valute.id %} </ins>

                                                </div>
                                            </div>

                                        </div>
                                        {% include 'site/shop4/include/cart_button_catalog.html' %}

                                        {% if forloop.counter|divisibleby:3 or forloop.last %}
                                    </div>  {# Закрываем .swiper-slide после каждого 3 продукта или в конце #}
                                    {% endif %}
                                    {% endfor %}

                                </div>
                                <button class="swiper-button-next mr-2"></button>
                                <button class="swiper-button-prev mr-2"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Deals Wrapper -->

        <h2 class="title title-vendors font-secondary mb-4 appear-animate">{{ json_fields.vendors_title.field }}</h2>
        <div class="swiper-container swiper-theme mb-6 pb-2 appear-animate"
             data-swiper-options="{
        'spaceBetween': 20,
        'slidesPerView': 1,
        'breakpoints': {
            '576': {'slidesPerView': 2},
            '768': {'slidesPerView': 3},
            '1200': {'slidesPerView': 4}
        }
     }">
            <div class="swiper-wrapper row cols-lg-4 cols-md-3 cols-sm-2 cols-1">
                {% for vendor in vendors %}
                <div class="swiper-slide vendor-widget mb-0">
                    <div class="vendor-widget-2">
                        <div class="vendor-details">
                            <figure class="vendor-logo">
                                <a href="{{ vendor.get_absolute_url }}">
                                    {% if vendor.image %}
                                    <img src="{{ vendor.image.url }}"
                                         alt="{{ vendor.name }}"
                                         width="70" height="70" />
                                    {% else %}
                                    <div class="placeholder-logo"></div>
                                    {% endif %}
                                </a>
                            </figure>
                            <div class="vendor-personal">
                                <h4 class="vendor-name">
                                    <a href="{{ vendor.get_absolute_url }}">{{ vendor.name }}</a>
                                </h4>
                                <span class="vendor-product-count">
                            ({{ vendor.products_set.count }} {% trans 'товаров' %})
                        </span>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                <span class="ratings"
                                      style="width: {% widthratio vendor.rating 5 100 %}%;"></span>
                                        <span class="tooltiptext tooltip-top">
                                    {% trans 'Рейтинг' %}: {{ vendor.rating|floatformat:1 }}/5
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vendor-products row cols-3 gutter-sm">
                            {% for product in vendor.products_set.all|slice:":3" %}
                            <div class="vendor-product">
                                <figure class="product-media">
                                    <a href="{% url 'shop:products' product.slug %}">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}"
                                             alt="{{ product.name }}"
                                             style="width:70px; height:60px;" />
                                        {% else %}
                                        <div class="placeholder-product"></div>
                                        {% endif %}
                                    </a>
                                </figure>
                            </div>
                            {% empty %}
                            <div class="col-12">
                                <p>{% trans 'Нет товаров' %}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination mt-4"></div>
        </div>
        <!-- End of Swiper -->
        <!-- End of Swiper Container -->

        <h2 class="title text-left appear-animate mb-5">{{ json_fields.bottom_banner_title.field }}</h2>
        <!-- Banner Product Wrapper -->

        <div class="row category-accessories appear-animate mb-7">

                <figure class="banner banner-fixed br-sm" style="background-image: url({{ json_fields.bottom_banner_1_image.info }}); background-color: #52575B;  height: 200px;background-size: auto 100%;
           background-position: center;
           background-repeat: no-repeat;">
                    <div class="banner-content align-items-center" style=" width: 100%; ">
                    <div class="content-right d-flex align-items-center flex-1 flex-wrap" style="margin: 50px;">
                        <div class="banner-info mr-auto pr-4">
                            <h3 class="banner-title text-white text-uppercase ls-25">{{ json_fields.bottom_banner_1_title.field }}</h3>
                            <p class="mb-0 text-white">{{ json_fields.bottom_banner_1_description.field }}</p>
                        </div>
                        <a href="{{ json_fields.bottom_banner_1_button_link.field }}" class="btn btn-white btn-rounded btn-icon-right mb-3">
                            {{ json_fields.bottom_banner_1_button.field }}<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                </figure>


        </div>
        <!-- End of Category Accessories -->

        <h2 class="title text-left appear-animate mb-5">{{ json_fields.bottom_products_title.field }}</h2>
        <div class="row banner-product-wrapper appear-animate mb-7">
            <div class="col-lg-12 mb-4 mb-lg-0">
                <div class=" mt-4" >
                    <div class="swiper-wrapper row cols-md-4 cols-sm-3 cols-2">
                        {% for product in bottom_products %}
                        <div class="swiper-slide product product-image-gap product-simple">
                            <figure class="product-media">
                                <a href="{% url 'shop:products' product.slug %}">
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.name }}"
                                         style="width:295px;height:335px;"  />
                                    {% if product.productsgallery_set.all %}
                                    <img src="{{ product.productsgallery_set.first.image.url }}"
                                         alt="{{ product.name }}"
                                         style="width:295px;height:335px;"  />
                                    {% endif %}
                                </a>
                                <div class="product-action-vertical">
                                    {% include 'site/shop4/include/bookmark-button.html' %}
                                    {% include 'site/shop4/include/cart-button.html' %}

                                </div>
                                {% if product.discount %}
                                <div class="product-countdown-container">
                                    <div class="product-countdown countdown-compact"
                                         data-until="{{ product.discount.end_date|date:'Y, m, d' }}"
                                         data-format="DHMS"
                                         data-compact="false">
                                        00:00:00:00
                                    </div>
                                </div>
                                {% endif %}
                                <div class="product-action">
                                </div>
                            </figure>
                            <div class="product-details">
                                <h4 class="product-name">
                                    <a href="{% url 'shop:products' product.slug %}">{{ product.name }}</a>
                                </h4>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                        <span class="ratings"
                              style="width: {% widthratio product.review_rating 5 100 %}%;"></span>
                                        <span class="tooltiptext tooltip-top">
                            {% trans 'Рейтинг' %}: {{ product.review_rating|floatformat:1 }}/5
                        </span>
                                    </div>
                                    <a href="{% url 'shop:products' product.slug %}#reviews"
                                       class="rating-reviews">
                                        ({{ product.review_count }}
                                        {{ product.review_count|pluralize:"отзыв,отзыва,отзывов" }})
                                    </a>
                                </div>
                                <div class="product-pa-wrapper">
                                    <div class="product-price">
                                        <ins class="new-price">
                                            {% currency_conversion_for_products request product.price product.valute.id %} &nbsp;{{ cart.valute.icon_code }}
                                        </ins>
                                        {% if product.old_price %}
                                        <del class="old-price">
                                            {% currency_conversion_for_products request product.old_price product.valute.id %} &nbsp;{{ cart.valute.icon_code }}
                                        </del>
                                        {% endif %}
                                    </div>
                                    <div class="product-action">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Product Wrap -->
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <!-- Banner Product Wrapper -->


        <!-- Banner Product Wrapper -->
    </div>
    <!-- End of Container -->


</div>
<!-- End of Main -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM полностью загружен и разобран");

        // Находим все кнопки увеличения и уменьшения количества
        var minusButtons = document.querySelectorAll('.qtyminus');
        var plusButtons = document.querySelectorAll('.qtyplus');

        console.log("Найдено кнопок минус:", minusButtons.length);
        console.log("Найдено кнопок плюс:", plusButtons.length);

        // Добавляем обработчики событий для кнопок уменьшения
        minusButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                console.log("Кнопка минус нажата");
                var input = this.parentNode.querySelector('.qty');
                var value = parseInt(input.value, 10);
                if (value > 1) {
                    input.value = value - 1;
                }
                console.log("Новое значение:", input.value);
            });
        });

        // Добавляем обработчики событий для кнопок увеличения
        plusButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                console.log("Кнопка плюс нажата");
                var input = this.parentNode.querySelector('.qty');
                var value = parseInt(input.value, 10);
                var max = parseInt(input.getAttribute('maxlength'), 10);
                if (value < max) {
                    input.value = value + 1;
                }
                console.log("Новое значение:", input.value);
            });
        });
    });
</script>

{% endblock content %}
