{% load static generals_tag i18n %}

<div class="product-form container">
    <form method="post" action="{% url 'shop:add_to_cart' %}" data-product-id="{{ product.id }}" class="add-to-cart-form">
        {% csrf_token %}

        <div class="row">
            <div class="col-xl-6">
                <div class="product-qty-form product-quantity qty-wrap"  data-product="{{ product.id }}">
                    <div class="input-group pro-qty">
                        <input name="quantity" class="quantity form-control" id="quantityvalue-{{ product.id }}" data-product="{{ product.id }}" maxlength="{{ product.quantity }}" min="1" max="{{ product.quantity }}" type="number">
                        <button type="button" class="qtyplus inc qty-btn quantity-plus w-icon-plus qty" ></button>
                        <button type="button" class="qtyminus dec qty-btn quantity-minus w-icon-minus qty"></button>
                    </div>
                </div>
                <input type="hidden" name="variation_slug" value="{{ product.productsvariable_set.all.first.slug }}">
            </div>
            <div class="col-xl-6">
                <button class="btn btn-primary mobile-button" type="submit">
                    <span>{% trans 'В корзину' %}</span>
                </button>
            </div>
        </div>
    </form>
</div>