{% extends 'site/shop5/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}

{% block head %}

{% endblock head %}
{% block content %}
<!-- Start of Main -->
    <main class="main">
    <!-- Start of Page Content -->
        <div class="page-header">
            <div class="container">
                <h1 class="page-title mb-0">О нас</h1>
            </div>
        </div>
    <!-- End of Page Header -->

    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav mb-10 pb-1">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'webmain:home' %}">Главная</a></li>
                <li>О нас</li>
            </ul>
        </div>
    </nav>

    <div class="page-content">

        <section class="boost-section pt-10 pb-10">
            <div class="container mt-10 mb-9">
                <div class="row align-items-center mb-10">
                    <div class="col-md-6 mb-8">
                        <figure class="br-lg">
                            <img src="{{ json_fields.about_image.info }}" alt="Banner"
                                 width="610" height="450" style="background-color: #9E9DA2;" />
                        </figure>
                    </div>
                    <div class="col-md-6 pl-lg-8 mb-8">
                        <h4 class="title text-left">{{ json_fields.about_title.field }}</h4>
                        <p class="mb-6">{{ json_fields.about_description.field|safe }}</p>
                        <a href="{{ json_fields.about_button_link.field }}" class="btn btn-dark btn-rounded">{{ json_fields.about_button.field }}</a>
                    </div>
                </div>

<!--                            <section class="count-section mb-10 pb-5">-->
<!--                <div class="swiper-container swiper-theme" data-swiper-options="{-->
<!--                            'slidesPerView': 1,-->
<!--                            'breakpoints': {-->
<!--                                '768': {-->
<!--                                    'slidesPerView': 2-->
<!--                                },-->
<!--                                '992': {-->
<!--                                    'slidesPerView': 3-->
<!--                                }-->
<!--                            }-->
<!--                        }">-->


<!--                    <div class="swiper-wrapper row cols-lg-3 cols-md-2 cols-1">-->
<!--                        <div class="swiper-slide counter-wrap">-->
<!--                            <div class="counter text-center">-->
<!--                                <span class="count-to" data-to="15">{{ json_fields.about_info_count_1.field }}</span>-->
<!--                                <span>+</span>-->
<!--                                <h4 class="title title-center">{{ json_fields.about_info_titles_1.field }}</h4>-->
<!--                                <p>{{ json_fields.about_info_description_1.field }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide counter-wrap">-->
<!--                            <div class="counter text-center">-->
<!--                                <span class="count-to" data-to="25">{{ json_fields.about_info_count_2.field }}</span>-->
<!--                                <span>+</span>-->
<!--                                <h4 class="title title-center">{{ json_fields.about_info_titles_2.field }}</h4>-->
<!--                                <p>{{ json_fields.about_info_description_2.field }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-slide counter-wrap">-->
<!--                            <div class="counter text-center">-->
<!--                                <span class="count-to" data-to="100">{{ json_fields.about_info_count_3.field }}</span>-->
<!--                                <span>+</span>-->
<!--                                <h4 class="title title-center">{{ json_fields.about_info_titles_3.field }}</h4>-->
<!--                                <p>{{ json_fields.about_info_description_3.field }}</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="swiper-pagination"></div>-->
<!--                </div>-->
<!--            </section>-->

<!--коммент-->
<!--                <div class="awards-wrapper">-->
<!--                    <h4 class="title title-center font-weight-bold mb-10 pb-1 ls-25">Awards</h4>-->
<!--                    <div class="swiper-container swiper-theme" data-swiper-options="{-->
<!--                                'spaceBetween': 20,-->
<!--                                'slidesPerView': 1,-->
<!--                                'breakpoints': {-->
<!--                                    '768': {-->
<!--                                        'slidesPerView': 2-->
<!--                                    },-->
<!--                                    '992': {-->
<!--                                        'slidesPerView': 3-->
<!--                                    },-->
<!--                                    '1200': {-->
<!--                                        'slidesPerView': 4-->
<!--                                    }-->
<!--                                }-->
<!--                            }">-->
<!--                        <div class="swiper-wrapper row cols-xl-4 cols-lg-3 cols-md-2 cols-1">-->
<!--                            <div class="swiper-slide image-box-wrapper">-->
<!--                                <div class="image-box text-center">-->
<!--                                    <figure>-->
<!--                                        <img src="{% static 'site/shop5/assets/images/pages/about_us/1.png' %}" alt="Award Image" width="109" height="105" />-->
<!--                                    </figure>-->
<!--                                    <p>Winner Seo Master MAGT<br>-->
<!--                                        Smart Start Award 2018</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide image-box-wrapper">-->
<!--                                <div class="image-box text-center">-->
<!--                                    <figure>-->
<!--                                        <img src="{% static 'site/shop5/assets/images/pages/about_us/2.png' %}" alt="Award Image" width="109" height="105" />-->
<!--                                    </figure>-->
<!--                                    <p>Top Social Media Agencies<br>-->
<!--                                        Next Partner 2019</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide image-box-wrapper mt-3">-->
<!--                                <div class="image-box text-center">-->
<!--                                    <figure>-->
<!--                                        <img src="{% static 'site/shop5/assets/images/pages/about_us/3.png' %}" alt="Award Image" width="109" height="105" />-->
<!--                                    </figure>-->
<!--                                    <p>5 Fastest Growing Abstract<br>-->
<!--                                        Solution Providers 2020</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="swiper-slide image-box-wrapper">-->
<!--                                <div class="image-box text-center">-->
<!--                                    <figure>-->
<!--                                        <img src="{% static 'site/shop5/assets/images/pages/about_us/4.png' %}" alt="Award Image" width="109" height="105" />-->
<!--                                    </figure>-->
<!--                                    <p>National Excellence Agencie<br>-->
<!--                                        Award Winner 2021</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="swiper-pagination"></div>-->
<!--                    </div>-->
<!--                </div>-->
 <!--коммент-->

            </div>
        </section>
        <div class="container">

        </div>
    </div>
</main>
<!-- End of Main -->
{% endblock content %}