{% extends 'site/shop5/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}

{% block content %}
<main class="main">
    <!-- Start of Page Header -->
    <div class="page-header">
        <div class="container text-center">
            <h2 class="page-title mb-0">{{blog.name}}</h2>
        </div>
    </div>
    <!-- End of Page Header -->
    <!-- Start of Page Content -->
    <div class="page-content mb-8">
        <div class="container">
            <div class="main-content post-single-content">
                <div class="post post-grid post-single">
                    <figure class="post-media br-sm">
                        <img src="{% if blog.cover %}{{ blog.cover.url }}{% endif %}" alt="Blog" width="930" height="500"/>
                    </figure>
                    <div class="post-details">
                        <div class="post-meta">

                            - <a href="{{ blog.create }}" class="post-date">{{ blog.create }}</a>
                        </div>
                        <h2 class="post-title"><a>{{ seo_title }}</a></h2>
                        {{ blog.description|safe }}
                    </div>
                </div>
                <!-- End Post -->
            </div>
            <!-- End of Main Content -->
        </div>
        <div class="main-content">
            {% for blog in latest_news %}
            <div class="post col-6 post-classic overlay-zoom mb-4" style="border-radius: 20px;border: 1px solid #cfcfcf;">
                <figure class="post-media br-sm">
                    <a href="{% url 'webmain:blogdetail' blog.slug %}">
                        <img src="{{ blog.cover.url }}" style="height: 250px;" alt="blog">
                    </a>
                </figure>
                <div class="post-details" style=" margin: 10px 20px; ">
                    <h4 class="post-title">
                        <a href="{% url 'webmain:blogdetail' blog.slug %}">{{blog.name}}</a>
                    </h4>
                    <div class="post-content">
                        <p>{{blog.description|safe|truncatechars:75}}</p>
                    </div>
                    <div class="post-meta d-flex justify-content-between align-items-center">
                        <span class="post-date text-muted">{{blog.create}}</span>
                        <a href="{% url 'webmain:blogdetail' blog.slug %}" class="btn btn-primary" style=" border-radius: 10px; color: #fff; background: #D83C3C; border: 0px; ">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
<div class="toolbox toolbox-pagination d-flex justify-content-center align-items-center">
    <div class="sharethis-inline-share-buttons"></div>

    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
        <a class="a2a_button_telegram"></a>
        <a class="a2a_button_vk"></a>
        <a class="a2a_button_whatsapp"></a>
    </div>
</div>

<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://static.addtoany.com/menu/page.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'a2a-js-api'));
</script>        </div>
    </div>
    <!-- End of Page Content -->
</main>
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=YOUR_PROPERTY_ID&product=inline-share-buttons"></script>

{% endblock content %}