{% extends 'products/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet">

{% endblock head %}
{% block content %}
<style>
    .col-md-6{
        padding: 5px;
    }
    input[type="radio"] {
    visibility: unset;
    opacity: unset;
    display: unset;
    vertical-align: unset;
    width: unset;
    height: unset;
    display: unset;
}
    .hidden{
        display:none;
    }
    .show{
        display: block;
    }
</style>
{% for message in messages%}
        {{message}}!
{% endfor%}

{% if order.type == 2 %}
<div class="th-cart-wrapper space-top space-extra-bottom">
    <div class="container"  style="     height: 300px;">
<h3 style="    text-align: center;">Заказ успешно оплачен</h3><br>
        <div class="single-form" style="    margin-left: 360px;
    margin-right: auto;">
                                    <a href="{% url 'shop:my_order' %}" style="width: 500px" class="th-btn" >К моим покупкам</a>
                                </div>

</div>
</div>
{% else %}
<div class="th-cart-wrapper space-top space-extra-bottom">
    <div class="container">
        <form method="post" id="info_form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7">
                    <!-- Checkout Form Start -->
                    <div class="checkout-form">
                        <div class="checkout-title">
                            <h4 class="title">Данные получателя</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="text" name="customer_name" required placeholder="Введите имя..." value="{{order.customer_name}}" disabled/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="text" name="customer_surname" required placeholder="Введите фамилию..." value="{{order.customer_surname}}" disabled/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="text"  name="customer_phone" id="id_phone" required placeholder="Введите телефон..." value="{{order.phone_number}}" disabled/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-form">
                                    <input type="text" name="customer_email" required placeholder="Введите email..." value="{{order.customer_email}}" disabled/>

                                </div>
                            </div>
                            <input type="hidden" name="delivery-price"  id="delivery_price_input" value=""/>
                        </div>
                        {% if order.requires_delivery %}
                        <div class="single-form checkbox-checkbox " style="margin-top:20px" >
                            <input type="checkbox" id="shipping" checked disabled />
                            <label for="shipping">
                                <span id="deliverytext">
                                <i class="fas fa-truck"></i>
                                Доставка</span>
                            </label>
                        </div>
                        <div class=" checkout-shipping " data-delivery="true">
                           <form id="shipping-form" method="post" action="{% url 'payment:calculate_the_shipping_cost' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="city" id="id_city" placeholder="Город" value="{{order.city}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="address" id="id_address" placeholder="Улица/Дом" value="{{order.adress}}" disabled/>
                                        </div>
                                    </div>
                                      <div class="col-sm-4" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="porch"  placeholder="Подьезд" value="{{order.porch}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="sfloor"  placeholder="Этаж" value="{{order.sfloor}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="sflat"  placeholder="Квартира" value="{{order.sflat}}" disabled/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="padding: 5px;">
                                        <div class="single-form">
                                            <input type="text" name="user_comment" placeholder="Комментарий курьеру" value="{{order.user_comment}}" disabled/>
                                        </div>
                                    </div>

                                    <br>
                                    <input type="hidden" name="latitude" id="id_latitude">
                                    <input type="hidden"  name="longitude" id="id_longitude">
                                    <br><br><br>
                                    <div class="product-info-tabs hidden" data-delivery="true">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                {%  for delivery in deliverytype %}
                                                    {% if delivery.type == 1 %}
                                                    <button class="nav-link active" id="nav-yandex-tab" data-bs-toggle="tab" data-bs-target="#nav-pochta" type="button" role="tab" aria-controls="nav-pochta" aria-selected="true">Яндекс Доставка</button>
                                                    {% elif delivery.type == 2 %}
                                                    <button class="nav-link" id="nav-pochta-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Почта России</button>
                                                    {% endif%}
                                                {% endfor %}
                                            </div>
                                        </nav>

                                    </div>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Checkout Form End -->
                </div>
                <div class="col-lg-5">
                    <div class="checkout-order">

                        <p class="fw-bold h7">Контактное Имя: {{ storage.contact_name }}</p>
                        <p class="textmuted h8">Адрес: {{storage.address}}</p>
                        <p class="textmuted h8 mb-2">Контактный Телефон: {{ storage.contact_phone }}</p>
                        <div class="h8">
                            <div class="row m-0 border mb-3">
                                <div class="col-6 h8 pe-0 ps-2">
                                    <p class="textmuted py-2"> &nbsp;	</p>
                                    <span class="d-block py-2 border-bottom">Покупка</span>
                                    <span class="d-block py-2">Доставка</span>
                                </div>
                                <div class="col-2 text-center p-0">
                                    <p class="textmuted p-2">&nbsp;</p>
                                    <span class="d-block p-2 border-bottom">&nbsp;</span>
                                    <span class="d-block p-2">&nbsp;</span>
                                </div>
                                <div class="col-2 p-0 text-center h8 border-end">
                                    <p class="textmuted p-2">Кол.</p>
                                    <span class="d-block border-bottom py-2">{{order.selectedproduct.count}}</span>
                                    <span class="d-block py-2 "></span>
                                </div>
                                <div class="col-2 p-0 text-center">
                                    <p class="textmuted p-2">Цена</p>
                                    <span class="d-block py-2 border-bottom">{% currency_conversion request order.all_amount %}</span>
                                    <span class="d-block py-2" id="delivery_price">{{order.delivery_price}}  </span>
                                </div>
                            </div>
                            <div class="d-flex h7 mb-2">
                                <p class="">Общая сумма</p>
                                {% if not order.delivery_price %}
                                <p class="ms-auto" id="all_amount">{% currency_conversion request order.all_amount %}</p>
                                {% else %}
                                <p class="ms-auto" id="all_amount">{{order.all_amount}}</p>
                                {% endif  %}
                            </div>
                            <br>
                        </div>
                        <div class="">

                            <div class="form">
                                {% if order.purchase_url %}

                                <div class="single-form">
                                      <a class="th-btn" href="{{ order.purchase_url}}"  style=" width: 100%;">Оплатить {{ payment_type.all_amount }}</a>
                                    </div>
                                {% else %}
                                     {% if enabled_payment_types %}
                                    <p class="h7 fw-bold mb-1"><i class='fa fa-bank'></i> Платежные системы</p>
                                    <p class="textmuted h8 mb-2">Вы можете выбрать любой из доступных платежных терминалов</p>
                                    <br>
                                    <div class="row">
                                        {% if enabled_payment_types %}
                                        <!---Образец выбора платежной системы--->
                                        {% for payment_type in enabled_payment_types %}
                                        <div class="d-flex flex-row w-100" data-payment-type="{{ payment_type.type }}">
                                            <div class="pt-2 pr-2 pt10">
                                                <input type="radio" name="payment_type" value="{{ payment_type.type }}" {% if forloop.first %} checked {% endif %} id="payment_type{{ payment_type.type }}">
                                            </div>
                                            <label class="form-check-label" for="payment_type{{ payment_type.type }}" >

                                            </label>
                                            <div class="rounded  d-flex w-100 px-2">
                                                <div class="pt-2">
                                                    <p>
                                                        <img src="{{ payment_type.image.url }}" height="50px">
                                                    </p>
                                                    <p>
                                                        {{ payment_type.content }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!---/Образец выбора платежной системы--->
                                        {% endfor %}
                                        {% else %}
                                        <p>Нет доступных способов оплаты.</p>
                                        {% endif %}
                                    </div>
                                    <br>
                                    {% endif %}
                                    {% if order.all_amount != 0 %}
                                    <div class="single-form">
                                        <button class="th-btn"  style="padding:0; width: 100%;height: 45px;">Оплатить {{ payment_type.all_amount }}</button>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
</div>
</div>
{% endif %}
<script>
    document.getElementById("all_amount_checkout").addEventListener("click", function() {
        // Находим выбранный чекбокс
        var selectedPaymentType = document.querySelector('input[name^="radio"]:checked');
        if (selectedPaymentType) {
            // Создаем ссылку для отправки формы с параметром чекбокса
            var actionUrl = "{% url 'payment:purchase' %}?radio" + "=" + selectedPaymentType.getAttribute("name").slice(5)
            // Устанавливаем новый URL в атрибут action формы
            document.getElementById("info_form").setAttribute("action", actionUrl);
            // Сабмитим форму
            document.getElementById("info_form").submit();
        } else {
            // Если чекбокс не выбран, вы можете добавить здесь сообщение об ошибке или другую логику
            console.log("Выберите способ оплаты");
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Находим все div с атрибутом data-payment-type
        var paymentDivs = document.querySelectorAll("[data-payment-type]");

        paymentDivs.forEach(function(div) {
            div.addEventListener("click", function() {
                var paymentTypeId = div.getAttribute("data-payment-type");  // Получаем тип платежа
                var radioInput = document.getElementById("payment_type" + paymentTypeId);

                if (radioInput) {
                    radioInput.checked = true;  // Устанавливаем checked для соответствующей радиокнопки
                }

                // Снимаем выбор у всех других радиокнопок
                paymentDivs.forEach(function(otherDiv) {
                    if (otherDiv !== div) {
                        var otherPaymentTypeId = otherDiv.getAttribute("data-payment-type");
                        var otherRadioInput = document.getElementById("payment_type" + otherPaymentTypeId);

                        if (otherRadioInput) {
                            otherRadioInput.checked = false;  // Снимаем checked у других радиокнопок
                        }
                    }
                });
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        // Найдем все радиокнопки
        var radioButtons = document.querySelectorAll("input[type='radio']");

        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener("click", function() {
                // Получаем значение data-for-stok
                var group = radioButton.closest("tr").getAttribute("data-for-stok");

                // Если у радио кнопки есть группа, снимаем checked у всех радиокнопок в этой группе
                if (group) {
                    var groupRadioButtons = document.querySelectorAll("tr[data-for-stok='" + group + "'] input[type='radio']");

                    groupRadioButtons.forEach(function(groupRadioButton) {
                        groupRadioButton.checked = false;  // Снимаем checked у всех в группе
                    });

                    // Устанавливаем checked для выбранной радиокнопки
                    radioButton.checked = true;
                }
            });
        });
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const deliveryToggle = document.getElementById("delivery");

        if (deliveryToggle) {
            deliveryToggle.addEventListener("click", function() {
                const deliveryElements = document.querySelectorAll("[data-delivery='true']");
                const nonDeliveryElements = document.querySelectorAll("[data-delivery='false']");

                // Переключаем видимость для элементов с data-delivery="true"
                deliveryElements.forEach(function(element) {
                    if (element.classList.contains("hidden")) {
                        element.classList.remove("hidden");
                        element.classList.add("show");
                    } else {
                        element.classList.remove("show");
                        element.classList.add("hidden");
                    }
                });

                // Переключаем видимость для элементов с data-delivery="false"
                nonDeliveryElements.forEach(function(element) {
                    if (element.classList.contains("hidden")) {
                        element.classList.remove("hidden");
                        element.classList.add("show");
                    } else {
                        element.classList.remove("show");
                        element.classList.add("hidden");
                    }
                });

                // Меняем текст кнопки
                const currentText = deliveryToggle.innerHTML;  // Сохраняем иконку
                if (currentText.includes("Отказаться от доставки")) {
                    deliveryToggle.innerHTML = '<input type="checkbox" id="shipping" />\n' +
                        '                            <label for="shipping">\n' +
                        '                                <span id="deliverytext">\n' +
                        '                                <i class="fas fa-truck"></i>\n' +
                        '                                Доставка</span>\n' +
                        '                            </label>';
                } else {
                    deliveryToggle.innerHTML = '<input type="checkbox" id="shipping" checked />\n' +
                        '                            <label for="shipping">\n' +
                        '                                <span id="deliverytext">\n' +
                        '                                <i class="fas fa-truck"></i>\n' +
                        '                                Отказаться от доставки</span>\n' +
                        '                            </label>';
                }
            });
        }
    });
</script>


{% endblock content %}
