{% extends 'products/base_profile.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<aside class="sidebar-area">
    <div class="widget widget_categories">
        <h3 class="widget_title">Написать обращение в поддержку
        </h3>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <label for="id_content">Обращение:</label>
            <textarea name="content" cols="40" rows="10" required="" id="id_content"></textarea>

            <button class="th-btn btn-sm style4">Написать</button>
        </form>
    </div>
</aside>
{% endblock content %}
{% block footer %}{% endblock footer %}