{% extends 'site/shop1/base.html' %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}

{% block content %}
<div id="wrapper"  class="inner-pages hd-white about">
    <div class="clearfix"></div>


    <section class="headings">
        <div class="text-heading text-center">
            <div class="container">
                <h1>{{ aboutpage.text_heading }}</h1>
                <h2><a href="{% url 'webmain:home' %}">Главная </a> &nbsp;/&nbsp; О компании</h2>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADINGS -->

    <!-- START SECTION ABOUT -->
    <section class="about-us fh">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 who-1">
                    <div>
                        <h2 class="text-left mb-4">{{ block_1_title|safe }}</h2>
                    </div>
                    <div class="pftext">
                        {{ block_1_description|safe }}
                    </div>
                    <div class="box bg-2">
                        <a href="{{ block_1_button_link }}" class="text-center button button--moema button--text-thick button--text-upper button--size-s">{{ block_1_button_title }}</a>
                        <img src="{{ block_1_signature }}" class="ml-5" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <div class="wprt-image-video w50">
                        <img alt="image" src="{{ block_1_image }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION ABOUT -->

    <!-- START SECTION WHY CHOOSE US -->
    <section class="how-it-works bg-white-2">
        <div class="container">
            <div class="sec-title">
                <h2>{{ block_2_title_1|safe }}</h2>
                <p>{{ block_2_title_2 }}</p>
            </div>
            <div class="row service-1">
                <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up">
                    <div class="serv-flex">
                        <div class="art-1 img-13">
                            <img src="{{ block_2_choose_image_1 }}" alt="">
                            <h3>{{ block_2_choose_title_1 }}</h3>
                        </div>
                        <div class="service-text-p">
                            <p class="text-center">{{ block_2_choose_description_1 }}</p>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-xs-12 serv" data-aos="fade-up">
                    <div class="serv-flex">
                        <div class="art-1 img-14">
                           <img src="{{ block_2_choose_image_2 }}" alt="">
                            <h3>{{ block_2_choose_title_2 }}</h3>
                        </div>
                        <div class="service-text-p">
                            <p class="text-center">{{ block_2_choose_description_2 }}</p>
                        </div>
                    </div>
                </article>
                <article class="col-lg-4 col-md-6 col-xs-12 serv mb-0 pt" data-aos="fade-up">
                    <div class="serv-flex arrow">
                        <div class="art-1 img-15">
                            <img src="{{ block_2_choose_image_3 }}" alt="">
                            <h3>{{ block_2_choose_title_3 }}</h3>
                        </div>
                        <div class="service-text-p">
                            <p class="text-center">{{ block_2_choose_description_3 }}</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <!-- END SECTION WHY CHOOSE US -->

    <!-- START SECTION COUNTER UP -->
    <section class="counterup">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="countr">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <div class="count-me">
                            <p class="counter text-left">{{ block_3_point_1 }}</p>
                            <h3>{{ block_3_description_1 }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="countr">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <div class="count-me">
                            <p class="counter text-left">{{ block_3_point_2 }}</p>
                            <h3>{{ block_3_description_2 }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="countr mb-0">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="count-me">
                            <p class="counter text-left">{{ block_3_point_3 }}</p>
                            <h3>{{ block_3_description_3 }}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="countr mb-0 last">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        <div class="count-me">
                            <p class="counter text-left">{{ block_3_point_4 }}</p>
                            <h3>{{ block_3_description_4 }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION COUNTER UP -->


</div>
<!-- Header Section -->
<header class="bg-light py-5 text-center">
    <div class="container">
        <h1 class="display-4">{{ text }}</h1>
    </div>
</header>

{% endblock content %}
{% block footer %}{% endblock footer %}