{% extends 'site/shop1/base.html' %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<div id="wrapper" class="inner-pages ui-elements hd-white">

    <section class="headings">
        <div class="text-heading text-center">
            <div class="container">
                <h1>Галерея</h1>
                <h2><a href="{% url 'webmain:home' %}">Главная </a> &nbsp;/&nbsp; <a
                        href="{% url 'webmain:galleries' %}">Галерея </a> &nbsp;/&nbsp; {{gallery.name}}</h2>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADINGS -->

    <!-- START SECTION BLOG -->
    <section class="blog blog-section">
        <div class="container">
            <div class="row">
                <div style="margin: 0 auto; text-align: center;">
                    <a href="{% url 'webmain:gallery' gallery.slug %}" class="news-img-link">
                        <img class="img-responsive"
                             src="{% if gallery.image %}{{ gallery.image.url }}{% else %}/path/to/default/image.jpg{% endif %}"
                             alt="{{ gallery.name }}"
                             style="width: 800px; height: 600px; object-fit: cover; border-radius: 10px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); margin-bottom: 30px;">
                    </a>
                </div>
                <div class="col-lg-9 col-md-12 col-xs-12" style="margin: 0 auto; text-align: justify;">
                    <div class="row">
                        {{ gallery.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END SECTION BLOG -->
{% endblock content %}
{% block footer %}{% endblock footer %}