{% extends 'site/shop1/base.html' %}
{% load static %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<div id="wrapper" class="inner-pages ui-elements hd-white">

    <section class="headings">
        <div class="text-heading text-center">
            <div class="container">
                <h1>Услуги</h1>
                <h2><a href="{% url 'webmain:home' %}">Главная </a> &nbsp;/&nbsp; <a href="{% url 'webmain:services' %}">Услуги </a> &nbsp;/&nbsp; {{service.name}}</h2>
            </div>
        </div>
    </section>
    <!-- END SECTION HEADINGS -->

    <!-- START SECTION BLOG -->
    <section class="blog blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-xs-12">
                    <div class="row">
                        {{ service.description|safe }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END SECTION BLOG -->
{% endblock content %}
{% block footer %}{% endblock footer %}