{% extends 'moderations/base.html' %}
{% load static user_tags i18n %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/css/suggestions.min.css" rel="stylesheet">

{% endblock head %}

{% block content %}
<!--  row -->
<div class="card">
    <div class="card-body">
        <div class="tabbed-content button-tabs">

            <div class="tab-content pt-2 text-muted">
                <div class="tab-pane show active" id="homePillJustified">
                    <form method="post"  class="account__main-info" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                            <button type="submit" class="btn btn-info" style="margin-top: -35px; margin-bottom: 25px; float: right;">
                                {% trans 'Сохранить информацию об пользователи' %}
                            </button>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Аватарка' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.avatar }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Логин' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Email' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Телефон' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.phone }}
                            </div>
                        </div>
                        <hr>
                        {% trans 'Публичная информация' %}
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Имя' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Фамилия' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Отчество' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.middle_name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Город' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.city }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Дата рождения' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.birthday }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">{% trans 'Пол' %}</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form.gender }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock content %}
{% block footertop %}

<script>
    window.addEventListener('load', function() {
        // Инициализация маски для телефона
        var element = document.getElementById('id_phone');
        var maskOptions = {
            mask: '+7(000)000-00-00',
            lazy: false
        }
        var mask = new IMask(element, maskOptions);

        // Инициализация маски для email
        var maskOptions2 = {
            mask: function (value) {
                if(/^[a-z0-9_\.-]+$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@[a-z0-9-]+$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.[a-z]{1,4}$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.[a-z]{1,4}\.$/.test(value))
                    return true;
                if(/^[a-z0-9_\.-]+@[a-z0-9-]+\.[a-z]{1,4}\.[a-z]{1,4}$/.test(value))
                    return true;
                return false;
            },
            lazy: false
        }

        var emailElement = document.getElementById('id_email');
        if (emailElement) {
            var mask2 = new IMask(emailElement, maskOptions2);
        }
    });

</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'site/js/imask.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@latest/dist/js/jquery.suggestions.min.js"></script>


<script>
    var api_key = '7fd18aaabd7d53ffa4846e4521c1f736c13490eb';

    function formatCity(suggestion) {
        var address = suggestion.data;
        if (address.city_with_type === address.region_with_type) {
            return address.settlement_with_type || "";
        } else {
            return address.city_with_type || "";
        }
    }

    var $city = $('#id_city');

    // город
    $city.suggestions({
        token: api_key,
        type: 'ADDRESS',
        hint: false,
        bounds: "city-settlement",
        formatSelected: formatCity
    });

</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Получаем элементы по их ID и добавляем класс form-control
        const oldPasswordField = document.getElementById("id_old_password");
        const newPassword1Field = document.getElementById("id_new_password1");
        const newPassword2Field = document.getElementById("id_new_password2");

        if (oldPasswordField) {
            oldPasswordField.classList.add("form-control");
        }

        if (newPassword1Field) {
            newPassword1Field.classList.add("form-control");
        }

        if (newPassword2Field) {
            newPassword2Field.classList.add("form-control");
        }
    });

</script>

{% endblock footertop %}
{% block footerbottom %}
<script src="{% static 'site/website/js/ui-lement.js' %}"></script>
{% endblock footerbottom %}