{% load static generals_tag i18n shop_tags %}

<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>{% with request|get_settings as data %} {% if data %}{{ data.setting.name }}{% endif %}{% endwith %} - {% block title %}{% endblock title %}</title>

    <meta name="keywords" content="Marketplace ecommerce responsive HTML5 Template" />
    <meta name="description"
          content="Wolmart is powerful marketplace &amp; ecommerce responsive Html5 Template.">
    <meta name="author" content="D-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/png' %}" href="/_media/{% with request|get_settings as settings %}{% if settings.favicon %}{{ settings.favicon }}{% endif %}{% endwith %}">

    {% with request|get_settings as data %} {% if data %}{{ data.setting.yandex_metrica|safe }}{% endif %}{% endwith %}
    {% with request|get_settings as data %}{% if data.setting.google_analitic %}{{ data.setting.google_analitic|safe }}{% endif %}{% endwith %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <meta content="{% block description %}{% endblock description %}" name="description">
    <meta property="og:title" content="{% block propertytitle %} {% endblock propertytitle %}">
    <meta property="og:description" content="{% block propertydescription %}{% endblock propertydescription %}">
    <meta property="og:image" content="{% block propertyimage %}{% endblock propertyimage %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% with request|get_settings as data %} {% if data %}{% if data.setting.favicon %}{{ data.setting.favicon.url }}{% endif %}{% endif %}{% endwith %}" />
    <!-- Analitic link -->
    {{settings.yandex_metrica|safe}}
    {{settings.google_analitic|safe}}

    <!-- Подключение Font Awesome через CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/stroitel1/fonts/stylesheet.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'site/stroitel1/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/stroitel1/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/stroitel1/css/animate.min.css' %}">

    <!-- Default CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/stroitel1/css/style.css' %}">
    {% block head %}{% endblock head %}
</head>

<body class="home">

<div class="modal-form mfp-hide mfp-with-anim" id="modal-form">

    <div class="modal-form-head">
        <div class="modal-form-logo">
            <img src="{% with request|get_settings as data %}{% if data and data.setting.logo %}{{ data.setting.logo.url }}{% else %}{% static 'site/stroitel1/images/logo-header.svg' %}{% endif %}{% endwith %}" alt="Construction">
        </div>
        <div class="modal-form-close">
            <img src="{% static 'site/stroitel1/images/close.svg' %}" alt="Close">
        </div>
    </div>

    <div class="modal-form-body">
        <div class="modal-form-title">Request a call</div>
        <form>
            <input type="text" placeholder="Your name*" required>
            <input type="text" placeholder="Your phone*" required>
            <button class="form-button">Send</button>
        </form>
    </div>

</div>

<div class="go-up">
    <a href="index.html#">
        <img src="{% static 'site/stroitel1/images/arrow-up.svg' %}" alt="Go up">
    </a>
</div>

<header class="site-header">

    <div class="header-top">
        <div class="container">
            <div class="header-row">

                <!-- Header top mobile START -->
                <div class="header-mobile-logo">
                    <a href="{% url 'webmain:home' %|">
                        <img src="{% with request|get_settings as data %}{% if data and data.setting.logo %}{{ data.setting.logo.url }}{% else %}{% static 'site/stroitel1/images/logo-header.svg' %}{% endif %}{% endwith %}" alt="Construction">
                    </a>
                </div>

                <div class="hamburger">
                    <span></span>
                    <span></span>
                </div>
                <!-- Header top mobile END -->

                <div class="header-desc">
                    {% with request|get_settings as data %} {% if data %}{{ data.setting.slogan|safe }}{% endif %}{% endwith %}
                </div>
                <div class="header-right">
                    <div class="header-info">
                        <img src="{% static 'site/stroitel1/images/location.svg' %}" alt="{% with request|get_contact as settings %} {% if settings.adress %} {{ settings.adress }} {% endif %} {% endwith %}">
                        <span>
                            {% with request|get_settings as setting %}
                              {% if setting %}
                                {% with setting.settings as settings %}
                                  {% if setting.address_default %}
                                    <div>
                                      <strong>{{ setting.address_default.title_contact }}</strong><br>
                                      {{ setting.address_default.information_contact }}
                                    </div>
                                  {% endif %}
                                {% endwith %}
                              {% endif %}
                            {% endwith %}
                        </span>
                    </div>
                    <a href="tel:79504575654" class="header-info">
                        <img src="{% static 'site/stroitel1/images/phone.svg' %}" alt="{% with request|get_contact as settings %}{% if settings.phone %}{{ settings.phone }}{% endif %}{%endwith%}">
                        <span>
                            {% with request|get_settings as setting %}
                              {% if setting %}
                                {% with setting.settings as settings %}
                                  {% if setting.phone_default %}
                                    <div>
                                      <strong>{{ setting.phone_default.title_contact }}</strong><br>
                                      {{ setting.phone_default.information_contact }}
                                    </div>
                                  {% endif %}
                                {% endwith %}
                              {% endif %}
                            {% endwith %}
                        </span>
                    </a>

                    <div class="header-social">
                        {% with request|get_settings as setting %}
                        {% if setting %}
                        {% with setting.setting as settings %}
                        {% if setting.social_default %}
                        {% for item in setting.social_default %}
                        <a href="{{ item.information_contact }}">{{ item.title_contact|safe }}</a>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% endif %}
                        {% endwith %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-row">
                <div class="header-logo">
                    <a href="{% url 'webmain:home' %}">
                        <img src="{% with request|get_settings as data %}{% if data and data.setting.logo %}{{ data.setting.logo.url }}{% else %}{% static 'site/stroitel1/images/logo-header.svg' %}{% endif %}{% endwith %}" alt="Construction">
                    </a>
                </div>

                <nav class="header-nav">
                    <ul>
                        <li><a class="anchor-link" href="{% url 'webmain:about' %}">О компании</a></li>
                        <li><a class="anchor-link" href="{% url 'webmain:services' %}">Услуги</a></li>
                        <li><a class="anchor-link" href="{% url 'shop:catalogs' %}">Каталог</a></li>
                        <li><a class="anchor-link" href="{% url 'webmain:prices' %}">Прайс</a></li>
                        <li><a class="anchor-link" href="{% url 'webmain:blogs' %}">Новости</a></li>
                        <li><a class="anchor-link" href="{% url 'webmain:contacts' %}">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Header mobile START -->
    <div class="header-mobile-wrap">
        <nav class="header-mobile-nav">
            <ul>
                <li><a class="anchor-link" href="{% url 'webmain:about' %}">О компании</a></li>
                <li><a class="anchor-link" href="{% url 'webmain:services' %}">Услуги</a></li>
                <li><a class="anchor-link" href="{% url 'shop:catalogs' %}">Каталог</a></li>
                <li><a class="anchor-link" href="{% url 'webmain:prices' %}">Прайс</a></li>
                <li><a class="anchor-link" href="{% url 'webmain:blogs' %}">Новости</a></li>
                <li><a class="anchor-link" href="{% url 'webmain:contacts' %}">Контакты</a></li>
            </ul>
        </nav>

        <div class="header-mobile-info">
            <img src="{% static 'site/stroitel1/images/location.svg' %}" alt="ул. Гагарина 5Б г. Сочи">
            <span>Greenbe street 5B, Latvia</span>
        </div>
        <a href="tel:79504575654" class="header-mobile-info">
            <img src="{% static 'site/stroitel1/images/phone.svg' %}" alt="+7 950 457 5654">
            <span>+7 950 457 5654</span>
        </a>

        <div class="header-mobile-social">
            <a href="index.html#">
                <img src="images/social-twitter.svg" alt="Twitter">
            </a>
            <a href="index.html#">
                <img src="images/social-vk.svg" alt="Вконтакте">
            </a>
            <a href="index.html#">
                <img src="images/social-facebook.svg" alt="Facebook">
            </a>
            <a href="index.html#">
                <img src="images/social-telegram.svg" alt="Telegram">
            </a>
        </div>
    </div>
    <!-- Header mobile END -->

</header>
<p class="form-message"></p>

{% if messages %}
<div style="display:none;  width: 500px;
        text-align: center;
        position: fixed;
        top: 200px;
        padding: 10px 20px;
        background-color: #5cb85c;
        color: #fff;
        border-radius: 5px;
        z-index: 1000;
        left: 50%;
        transform: translateX(-50%);
        opacity:0; transition: opacity 0.5s ease;" id="message-box">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>

{% endif %}

<div id="custom-alert" style="display:none;  width: 500px;
    text-align: center;
    position: fixed;
    top: 200px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
 opacity:0; transition: opacity 0.5s ease;">
    Товар добавлен в корзину!
</div>
<div class="page-wrapper">


    {% block content %}
    {% endblock content %}


    <footer class="site-footer">
        <div class="container">

            <div class="footer-row">

                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="{% url 'webmain:home' %}">
                            <img src="{% with request|get_settings as data %}{% if data and data.setting.logo_white %}{{ data.setting.logo_white.url }}{% else %}{% static 'site/stroitel1/images/logo-footer.svg' %}{% endif %}{% endwith %}" alt="Construction">
                        </a>
                    </div>
                    <div class="footer-desc">
                        {% with request|get_settings as data %} {% if data %}{{ data.setting.description|safe }}{% endif %}{% endwith %}
                    </div>
                </div>

                <div class="footer-right">

                    <div class="footer-nav">
                        <h5 class="footer-title">Информация</h5>
                        <ul>
                            <li><a href="{% url 'webmain:sponsorships' %}">Благотворительность</a></li>
                            <li><a href="{% url 'webmain:faqs' %}">Чаво</a></li>
                            <li><a href="{% url 'webmain:galleries' %}">Галерея</a></li>
                            <li><a href="{% url 'hr:vacancys' %}">Вакансии</a></li>
                            {% get_pages as pages %}
                            {% if pages %}{% for page in pages %}{% if page.pagetype == 6 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Партнерство' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                            {% if pages %}{% for page in pages %}{% if page.pagetype == 7 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Сотрудничество' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                        </ul>
                    </div>
                    <nav class="footer-nav">
                        <h5 class="footer-title">Полезная информация</h5>
                        <ul>

                            {% if pages %}{% for page in pages %}{% if page.pagetype == 2 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Пользовательское соглашение' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                            {% if pages %}{% for page in pages %}{% if page.pagetype == 3 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Политика конфедециальности' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                            {% if pages %}{% for page in pages %}{% if page.pagetype == 4 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Политика Cookie - Файлов' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                            {% if pages %}{% for page in pages %}{% if page.pagetype == 5 %}
                            <li>
                                <a href="{% url 'webmain:page' page.slug  %}">
                                    {% trans 'Согласия на обработку персональных данных' %}
                                </a>
                            </li>
                            {% endif %}{% endfor %}{% endif %}
                        </ul>
                    </nav>

                    <div class="footer-nav">
                        <h5 class="footer-title">Контакты</h5>
                        <div class="footer-info-item">
                            <div class="footer-info-icon"><img src="{% static 'site/stroitel1/images/location-gray.svg' %}" alt="Location"></div>

                            <div class="footer-info-text">
                                {% with request|get_settings as setting %}
                                {% if setting %}
                                {% with setting.settings as settings %}
                                {% if setting.address_default %}
                                <div>
                                    <strong>{{ setting.address_default.title_contact }}</strong><br>
                                    {{ setting.address_default.information_contact }}
                                </div>
                                {% endif %}
                                {% endwith %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <a href="tel:79504575654" class="footer-info-item">
                            <div class="footer-info-icon"><img src="{% static 'site/stroitel1/images/phone-gray.svg' %}" alt="Phone"></div>
                            <div class="footer-info-text">
                                {% with request|get_settings as setting %}
                                {% if setting %}
                                {% with setting.settings as settings %}
                                {% if setting.phone_default %}
                                <div>
                                    <strong>{{ setting.phone_default.title_contact }}</strong><br>
                                    {{ setting.phone_default.information_contact }}
                                </div>
                                {% endif %}
                                {% endwith %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </a>

                        <div class="footer-social">
                            {% with request|get_settings as setting %}
                            {% if setting %}
                            {% with setting.setting as settings %}
                            {% if setting.social_default %}
                            {% for item in setting.social_default %}
                            <a href="{{ item.information_contact }}" target="_blank">{{ item.title_contact|safe }}</a>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="footer-copyright">
                <div class="copyright-text">© {% with request|get_settings as settings %}{% if settings.content %}
                    {{ settings.content }}{% endif %}{%endwith%}</div>
            </div>

        </div>
    </footer>
    <!-- End of Footer -->
</div>
<!-- End of Page-wrapper-->


<!-- End of Mobile Menu -->
{% block footer %}{% endblock footer %}
<!-- Plugin JS File -->
<script src="{% static 'site/stroitel1/js/jquery-3.7.0.min.js' %}"></script>
<script src="{% static 'site/stroitel1/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'site/stroitel1/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'site/stroitel1/js/wow.min.js' %}"></script>
<script src="{% static 'site/stroitel1/js/script.js' %}"></script>
{% block bootomfooter %}{% endblock bootomfooter %}

</body>

