{% extends 'site/stroitel1/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}
<style>
    .why-features-item {
    display: flex
;
    margin-bottom: 45px;
    max-width: 100%;
}
</style>
{% endblock head %}
{% block content %}
<section class="s-why" id="s-why">
    <div class="container">
        <h2 class="def-title wow fadeInLeft" data-wow-delay="0.1s"> Часто задаваемые вопросы</h2>
        {% for item in faqs %}
        <div class="why-features">

            <div class="why-features-item">
                <div class="why-features-icon wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="{% static 'site/stroitel1/images/check-mark.svg' %}" alt="Check mark">
                </div>

                <div class="why-features-right">
                    <div class="why-features-title wow fadeInRight" data-wow-delay="0.4s">{{item.question}}</div>
                    <div class="why-features-desc wow fadeInRight" data-wow-delay="0.5s">
                        {{item.answer}}
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}