{% extends 'site/shop6/base.html' %}
{% load static generals_tag %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}{% endblock head %}
{% block content %}
<!-- Start of Main -->
<main class="main">
    <div class="container">
        <div class="intro-section mb-2 mt-2">
            <div class="row">
                <div class="intro-slide-wrapper col-lg-9">
                    <div class="swiper-container swiper-theme animation-slider pg-inner pg-xxl-hide pg-show pg-white nav-xxl-show nav-hide"
                         data-swiper-options="{
                    'spaceBetween': 0,
                    'slidesPerView': 1
                 }">
                        <div class="swiper-wrapper gutter-no row cols-1" style="height: 100%;">
                            <!-- Slide 1 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide1 br-sm text-center"
                                 style="background-image: url({{ json_fields.slide_1_image.info }}); background-color: #5B98B7;">
                                <div class="banner-content y-50">
                                    <h3 class="banner-title text-capitalize text-white font-secondary font-weight-normal ls-0 slide-animate"
                                        data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '.5s', 'delay': '.2s'}">
                                        {{ json_fields.slide_1_title.field }}
                                    </h3>
                                    <h2 class="banner-title font-secondary text-dark ls-25 slide-animate"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '.5s', 'delay': '.4s'}">
                                        {{ json_fields.slide_1_title_2.field }}
                                    </h2>
                                    <h4 class="banner-price-info font-weight-normal text-dark font-secondary ls-25 slide-animate"
                                        data-animation-options="{'name': 'fadeInRightShorter', 'duration': '.5s', 'delay': '.4s'}">
                                                <span class="text-primary font-weight-bolder">
                                                 {{ json_fields.slide_1_title_3.field }}
                                                </span>
                                    </h4>
                                    <span class="font-weight-bolder text-uppercase text-white slide-animate d-block ls-normal"
                                          data-animation-options="{'name': 'fadeInRightShorter', 'duration': '.5s', 'delay': '.4s'}">
                                {{ json_fields.slide_1_text.field }}
                            </span>
                                    <a href="{{ json_fields.slide_1_button_link.field }}"
                                       class="btn btn-white btn-outline btn-rounded btn-icon-right br-xs slide-animate"
                                       data-animation-options="{'name': 'fadeInRightShorter', 'duration': '.5s', 'delay': '.6s'}">
                                        {{ json_fields.slide_1_button.field }}<i class="w-icon-long-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- End of Intro Slide 1 -->

                            <!-- Slide 2 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide2 br-sm"
                                 style="background-image: url({{ json_fields.slide_2_image.info }}); background-color: #DFE0E4;">
                                <div class="banner-content">
                                    <div class="slide-animate" data-animation-options="{'name': 'fadeInDownShorter', 'duration': '1s'}">
                                        <h3 class="banner-title text-capitalize text-dark font-secondary font-weight-normal mb-1">
                                            {{ json_fields.slide_2_title.field }}
                                        </h3>
                                        <h4 class="banner-price-info text-capitalize text-dark mb-4 ls-25">
                                            {{ json_fields.slide_2_subtitle.field|safe }}
                                        </h4>
                                        <a href="{{ json_fields.slide_2_button_link.field }}"
                                           class="btn btn-dark btn-rounded btn-icon-right">
                                            {{ json_fields.slide_2_button.field }}
                                            <i class="w-icon-long-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 2 -->

                            <!-- Slide 3 -->
                            <div class="swiper-slide banner banner-fixed intro-slide intro-slide3 br-sm"
                                 style="background-image: url({{ json_fields.slide_3_image.info }}); background-color: #ECECEC;">
                                <div class="banner-content y-50">
                                    <div class="slide-animate" data-animation-options="{'name': 'fadeInLeftShorter', 'duration': '1s'}">
                                        <h3 class="banner-title text-capitalize text-dark font-secondary font-weight-normal">
                                            {{ json_fields.slide_3_title.field }}
                                        </h3>
                                        <h4 class="banner-price-info text-dark ls-25">
                                            {{ json_fields.slide_3_subtitle.field|safe }}
                                        </h4>
                                        <div class="d-flex">
                                            <a href="{{ json_fields.slide_3_button_link.field }}"
                                               class="btn btn-dark btn-rounded btn-icon-right mt-4 mr-6">
                                                {{ json_fields.slide_3_button.field }}
                                                <i class="w-icon-long-arrow-right"></i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Intro Slide 3 -->
                        </div>
                        <div class="swiper-pagination"></div>
                        <button class="swiper-button-next"></button>
                        <button class="swiper-button-prev"></button>
                    </div>
                </div>

                <!-- Side Banners -->
                <div class="intro-banner-wrapper col-lg-3">
                    <!-- Banner 1 -->
                    <div class="banner banner-fixed intro-banner col-lg-12 col-sm-6 br-sm mb-4">

                        <div class="banner-content mt-3">
                            <h4 class="banner-subtitle text-capitalize text-default font-secondary font-weight-normal">
                                {{ json_fields.banner_1_subtitle.field }}
                            </h4>
                            <h3 class="banner-title text-dark text-uppercase ls-25">
                                {{ json_fields.banner_1_title.field|safe }}
                            </h3>
                            <a href="{{ json_fields.banner_1_button_link.field }}"
                               class="btn btn-dark btn-link btn-underline btn-icon-right">
                                {{ json_fields.banner_1_button.field }}<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <figure>
                            <img src="{{ json_fields.banner_1_image.info }}"
                                 alt="Category Banner"
                                 width="680"
                                 height="180"
                                 style="background-color: #E4E7EC;" />
                        </figure>
                    </div>
                    <!-- End of Intro Banner -->

                    <!-- Banner 2 -->
                    <div class="banner banner-fixed intro-banner col-lg-12 col-sm-6 intro-banner2 mb-4 br-sm">
                        <div class="banner-content mt-3">
                            <h4 class="banner-subtitle text-capitalize font-secondary font-weight-normal">
                                {{ json_fields.banner_2_subtitle.field }}
                            </h4>
                            <h3 class="banner-title text-white text-uppercase ls-25">
                                {{ json_fields.banner_2_title.field }}
                            </h3>
                            <a href="{{ json_fields.banner_2_button_link.field }}"
                               class="btn btn-white btn-link btn-underline btn-icon-right">
                                {{ json_fields.banner_2_button.field }}<i class="w-icon-long-arrow-right"></i>
                            </a>
                        </div>
                        <figure>
                            <img src="{{ json_fields.banner_2_image.info }}"
                                 alt="Category Banner"
                                 width="680"
                                 height="180"
                                 style="background-color: #33363B;" />
                        </figure>

                    </div>
                    <!-- End of Intro Banner -->
                </div>
            </div>
        </div>
        <!-- End of Intro-section -->
        <div class="swiper-container swiper-theme icon-box-wrapper appear-animate br-sm mt-6 mb-10" data-swiper-options="{
                    'slidesPerView': 1,
                    'breakpoints': {
                        '576': {
                            'slidesPerView': 2
                        },
                        '768': {
                            'slidesPerView': 3
                        },
                        '992': {
                            'slidesPerView': 3
                        },
                        '1200': {
                            'slidesPerView': 4
                        }
                    }
                }">
            <div class="swiper-wrapper row cols-md-4 cols-sm-3 cols-1">
                <div class="swiper-slide icon-box icon-box-side text-dark" style="    margin-left: 10px;">
                            <span class="icon-box-icon icon-shipping">
                                <i class="w-icon-truck"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_1_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_1_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark">
                            <span class="icon-box-icon icon-payment">
                                <i class="w-icon-bag"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_2_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_2_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark icon-box-money">
                            <span class="icon-box-icon icon-money">
                                <i class="w-icon-money"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_3_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_3_description.field|safe }}</p>
                    </div>
                </div>
                <div class="swiper-slide icon-box icon-box-side text-dark icon-box-chat">
                            <span class="icon-box-icon icon-chat">
                                <i class="w-icon-chat"></i>
                            </span>
                    <div class="icon-box-content">
                        <h4 class="icon-box-title mb-1 ls-normal">{{ json_fields.how_we_work_4_title.field }}</h4>
                        <p class="text-default">{{ json_fields.how_we_work_4_description.field|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Iocn Box Wrapper -->

        <div class="banner-product-wrapper appear-animate row mb-8">
            <div class="col-xl-5col col-md-4 mb-4">
                <div class="categories h-100">
                    <h2 class="title text-left">Computers &amp; Technologies</h2>
                    <ul class="list-style-none mb-4">
                        <li><a href="shop-banner-sidebar.html">Desktop PC</a></li>
                        <li><a href="shop-banner-sidebar.html">Headphones</a></li>
                        <li><a href="shop-banner-sidebar.html">Laptops</a></li>
                        <li><a href="shop-banner-sidebar.html">Monitors</a></li>
                        <li><a href="shop-banner-sidebar.html">Smartphones</a></li>
                        <li><a href="shop-banner-sidebar.html">Speakers</a></li>
                        <li><a href="shop-banner-sidebar.html">Storage &amp; Memory</a></li>
                        <li><a href="shop-banner-sidebar.html">Tablets</a></li>
                        <li><a href="shop-banner-sidebar.html">Watches</a></li>
                    </ul>
                    <a href="shop-boxed-banner.html"
                       class="btn btn-dark btn-link btn-underline btn-icon-right font-weight-bolder text-capitalize ls-50">
                        Browse All<i class="w-icon-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-xl-5col4 col-md-8 mb-4">
                <div class="banner br-sm mb-4 pt-9" style="background-image: url({% static 'site/wolmart/assets/images/demos/demo2/banners/2.jpg' %}); background-color: #E0E1E5; padding: 20px;">
                    <div class="banner-content">
                        <h5 class="banner-subtitle font-weight-normal text-capitalize texyt-dark ls-25 mb-0">
                            From Onlin Store
                        </h5>
                        <h3 class="banner-title text-capitalize ls-25 mb-4">
                            Xbox One's <span class="text-primary">Limited</span> Edition
                        </h3>
                        <a href="shop-boxed-banner.html"
                           class="btn btn-dark btn-link btn-underline btn-icon-right">
                            View Detail<i class="w-icon-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End of Banner -->
                <div class="swiper-container swiper-theme" data-swiper-options="{
                            'spaceBetween': 20,
                            'slidesPerView': 2,
                            'breakpoints': {
                                '576': {
                                    'slidesPerView': 3
                                },
                                '768': {
                                    'slidesPerView': 2
                                },
                                '992': {
                                    'slidesPerView': 3
                                },
                                '1200': {
                                    'slidesPerView': 4
                                }
                            }
                        }">
                    <div class="swiper-wrapper row cols-xl-4 cols-lg-3">
                        <div class="swiper-slide product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-1-1.jpg' %}" alt="Product"
                                             width="300" height="338">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-1-2.jpg' %}" alt="Product"
                                             width="300" height="338">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="demo2.html#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-quickview w-icon-search"
                                           title="Quickview"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Bluetooth Music
                                        Recorder</a></h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(8 Reviews)</a>
                                    </div>
                                    <div class="product-price">
                                        <ins class="new-price">$28.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-2.jpg' %}" alt="Product"
                                             width="300" height="338">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="demo2.html#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-quickview w-icon-search"
                                           title="Quickview"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Magenetic Charge
                                        Box</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 80%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(8 Reviews)</a>
                                    </div>
                                    <div class="product-price">
                                        <ins class="new-price">$79.00</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-3-1.jpg' %}" alt="Product"
                                             width="300" height="338">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-3-2.jpg' %}" alt="Product"
                                             width="300" height="338">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="demo2.html#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-quickview w-icon-search"
                                           title="Quickview"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                    <div class="product-label-group">
                                        <label class="product-label label-new">New</label>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Soft Sound
                                        Marker</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(5 Reviews)</a>
                                    </div>
                                    <div class="product-price">
                                        <ins class="new-price">$27.00</ins><del class="old-price">$35.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide product-wrap">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="product-default.html">
                                        <img src="{% static 'site/wolmart/assets/images/demos/demo2/products/5-4.jpg' %}" alt="Product"
                                             width="300" height="338">
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="demo2.html#" class="btn-product-icon btn-cart w-icon-cart"
                                           title="Add to cart"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-wishlist w-icon-heart"
                                           title="Add to wishlist"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-quickview w-icon-search"
                                           title="Quickview"></a>
                                        <a href="demo2.html#" class="btn-product-icon btn-compare w-icon-compare"
                                           title="Add to Compare"></a>
                                    </div>
                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="product-default.html">Men's Black
                                        Watch</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a href="product-default.html" class="rating-reviews">(9 Reviews)</a>
                                    </div>
                                    <div class="product-price">
                                        <ins class="new-price">$50.00</ins><del class="old-price">$65.00</del>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <!-- End of Swiper -->
            </div>
        </div>
        <!-- End of Banner Product Wrapper -->
        <div class="banner link-banner-newsletter br-sm appear-animate" style="background-image: url({% static 'site/wolmart/assets/images/demos/demo9/banner/3.jpg' %});
                    background-color: #27393D;padding: 50px;">
            <div class="content-left mr-auto" style=" width: 50%; float: left; ">
                <h3 class="banner-title text-white text-capitalize font-weight-bold ls-25">Download Wolmart App
                    Now!</h3>
                <p class="text-white">Shopping fastly and easily more with our app. Get a link to download
                    the app on your phone.</p>
                <form action="demo9.html#" method="get" class="input-wrapper input-wrapper-inline input-wrapper-rounded">
                    <input class="form-control mb-4" type="email" placeholder="Enter Your Email..." name="email"
                           id="email_4">
                    <button class="btn btn-primary btn-rounded mb-4" type="submit">Send Link
                    </button>
                </form>
            </div>
            <!-- End of Content Left -->
            <div class="content-right" style=" width: 50%; float: right; display: grid ; justify-items: self-end;">
                <a href="demo9.html#" class="mb-5">
                    <img src="{% static 'site/wolmart/assets/images/demos/demo9/banner/button-1.jpg' %}" alt="Button" width="141"
                         height="41" style="background-color: #121315" />
                </a>
                <a href="demo9.html#">
                    <img src="{% static 'site/wolmart/assets/images/demos/demo9/banner/button-2.jpg' %}" alt="Button" width="141"
                         height="41" style="background-color: #121315" />
                </a>
            </div>
            <!-- End of Content Right -->
        </div>
        <!-- End of Link Banner Newsletter -->

        <div class="title-link-wrapper appear-animate">
            <h2 class="title">Top Rated Products</h2>
            <a href="shop-boxed-banner.html" class="font-weight-bold ls-25">More Products<i
                    class="w-icon-long-arrow-right"></i></a>
        </div>
        <!-- End of Title Link Wrapper -->
        <div class="row cols-lg-4 cols-md-3 cols-xs-2 cols-1 appear-animate">
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/7-5.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Red Cap Sound Marker</a>
                        </h4>
                        <div class="product-price">$89.50</div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/8-1.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Mini Wireless Earphone</a>
                        </h4>
                        <div class="product-price">$120.57</div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/5-10.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Top Men's Hiking Hat</a>
                        </h4>
                        <div class="product-price">
                            <ins class="new-price">$20.84</ins><del class="old-price">$25.92</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/4-5.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Mobile Electronic Recorder</a>
                        </h4>
                        <div class="product-price">
                            <ins class="new-price">$95.72</ins><del class="old-price">$97.15</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/7-1.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Wireless Mouse</a>
                        </h4>
                        <div class="product-price">$15.73</div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/8-2.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Handy Camera</a>
                        </h4>
                        <div class="product-price">$360.19</div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/8-3.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Wonderful Sound Music Player</a>
                        </h4>
                        <div class="product-price">$50.29 - $58.28</div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
            <div class="product-wrap mb-0">
                <div class="product product-widget">
                    <figure class="product-media">
                        <a href="product-default.html">
                            <img src="{% static 'site/wolmart/assets/images/demos/demo9/product/7-4.jpg' %}" alt="Product" width="600"
                                 height="675">
                        </a>
                    </figure>
                    <div class="product-details">
                        <h4 class="product-name">
                            <a href="product-default.html">Charge &amp; Alarm Music</a>
                        </h4>
                        <div class="product-price">
                            <ins class="new-price">$84.25</ins><del class="old-price">$98.20</del>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Product Wrap -->
        </div>
        <!-- End of Product Widget -->
    </div>
    <!-- End of Container -->
</main>
<!-- End of Main -->
{% endblock content %}
{% block footerbottom %}{% endblock footerbottom %}