<style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item:hover .nav-link {
    color: #74BBC6;
    }
</style>
<ul class="nav nav-tabs mb-6" role="tablist">
    {% with app_name=request.resolver_match.namespace url_name=request.resolver_match.url_name %}
    {% if not user.type == 2 %}
    <li class="nav-item">
        <a class="nav-link {% if url_name == 'edit_profile' %} active {% endif %}"
           href="{% url 'useraccount:edit_profile' %}">
            <i class="fa fa-user"></i>&nbsp; Мой профиль</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'shop:my_order' %}"
           class="nav-link {% if app_name == 'shop' and url_name == 'my_order' %} active {% endif %}">
            <i class="fa fa-shopping-cart"></i>&nbsp; Мои Покупки</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'shop:bookmark_list' %}" class="nav-link {% if url_name == 'bookmark_list' %}active{% endif %}"
           class="{% if app_name == 'shop' and url_name == 'bookmark_list' %} active {% endif %}"><svg style="color: black" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
</svg> &nbsp;  Избранное</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'shop:purchased_products_list' %}" class="nav-link {% if url_name == 'purchased_products_list' %}active{% endif %}"
           class="{% if app_name == 'shop' and url_name == 'purchased_products_list.html' %} active {% endif %}"><i
                class="w-icon-heart"></i> &nbsp;  Персональные акции</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'shop' and url_name == 'manufacturerapplications' %} active {% endif %}"
           href="{% url 'shop:manufacturerapplications' %}">
            <i class="fa fa-magnet"></i> &nbsp;  Запросы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'shop' and url_name == 'manufacturerorder' %} active {% endif %}"
           href="{% url 'shop:manufacturerorder' %}">
            <i class="fa fa-shopping-bag"></i> &nbsp; Продажи</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'shop' and url_name == 'manufacturerapplications' %} active {% endif %}"
           href="{% url 'shop:manufacturerapplications' %}">
            <i class="fa fa-magnet"></i> &nbsp; Заявки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'useraccount' and url_name == 'shop_edit' %} active {% endif %}"
           href="{% url 'useraccount:shop_edit' %}">
            <i class="fa fa-table"></i>&nbsp; Мои магазин</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'shop' and url_name == 'manufacturerreviews' %} active {% endif %}"
           href="{% url 'shop:manufacturerreviews' %}">
            <i class="fa fa-star-o"></i>&nbsp; Отзывы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           class="{% if app_name == 'shop' and url_name == 'manufacturerfaqs' %} active {% endif %}"
           href="{% url 'shop:manufacturerfaqs' %}">
            <i class="fa fa-question-circle-o"></i> &nbsp; Вопросы</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link {% if url_name == 'tickets' %} active {% endif %}"
           href="{% url 'useraccount:tickets' %}">
            <i class="fa fa-life-ring"></i>&nbsp; Поддержка</a>
    </li>

    {% endwith %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webmain:logout' %}"><i class="fa fa-sign-out"></i>Выйти</a>
    </li>
</ul>