{% load static generals_tag shop_tags %}
<div class="display-flex input-group" style="display: flex; " data-product="{{ selected.id }}" data-price="{% if valute != selected.product.valute %}{% currency_conversion_for_products request selected.product.price selected.product.valute.id %}{% else %}{{ selected.product.price }}{% endif %}">
    <button class=" w-icon-minus" style="margin-top: 25px;" data-type="minus"></button>  <!-- Кнопка "минус" -->
    <input type="text" name="quantity" value="{{ selected.quantity }}" min="0" max="{{ selected.product.quantity }}" maxlength="{{ selected.product.quantity }}" class="qty  form-control" style="margin-right: 10px; margin-left: 10px;"> <!-- Поле ввода количества -->
    <button class="w-icon-plus" data-type="plus" style="margin-top: 25px;"></button>  <!-- Кнопка "плюс" -->
</div>

<style>
    .qty{
        background-color: transparent;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        color: #323232;
        font-weight: 400;
        width: 75px;
        height: 50px;
        font-size: 15px;
        padding: 5px 30px 5px 5px;
        text-align: center;
    }
    .display-flex{
        text-align: center;
        display: inline-block;
    }
    .quantity-plus{
        width: 30px;
        height: 25px;
    }
    .quantity-minus{
        width: 30px;
        height: 25px;
        margin-top: 25px;
    }
    .input-group button{
        position: unset;
         top: 25%!important;
         right: 0!important;
        margin-right: 0!important;
    }

</style>