{% extends 'site/shop2/base.html' %}
{% load static generals_tag  shop_tags %}
{% block title %}{{ seo_title }}{% endblock title %}
{% block description %}{{ seo_description }}{% endblock description %}
{% block propertytitle %}{% if seo_previev %}{{ seo_previev.url }} {% endif %} {% endblock propertytitle %}
{% block propertydescription %}{{ seo_propertytitle }}{% endblock propertydescription %}
{% block propertyimage %}{{ seo_propertydescription }}{% endblock propertyimage %}
{% block head %}

{% endblock head %}
{% block content %}
<style>
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item:hover .nav-link {
    color : #74BBC6;
    }
    a {
    color: #74BBC6;
    }

    .tab-nav-outline .nav-item.show .nav-link, .tab-nav-outline .nav-item .nav-link.active, .tab-nav-outline .nav-item:hover .nav-link {
    border: 2px solid #74BBC6;
    }
    .btn-product-icon:hover, .btn-product-icon:active {
      background-color: #74BBC6 !important;
      border: 2px solid #74BBC6 !important;
    }
    img {
      height: 100% !important;
    }
    .img-fluid {
        height: revert-layer !important;
    }


</style>

<div class="main">
    <div class="container">
        <section class="product-area product-single-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-single-item">
                    <div class="row">
                        <div class="col-lg-6" style="margin-top: 20px">
                            <!--== Start Product Thumbnail Area ==-->
                            <div class="product-single-thumb">
                                <div class="swiper single-product-thumb single-product-thumb-slider">
                                    <div class="swiper-wrapper">
                                        {# Основное изображение #}
                                        <div class="swiper-slide">
                                            <a class="product-image" data-fancybox="gallery"
                                               href="{% if product.image %}{{ product.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}">
                                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}"
                                                     class="img-fluid"
                                                     alt="{{ product.name }}"
                                                style="width:800px; height:630px;">
                                            </a>
                                        </div>

                                        {# Дополнительные изображения галереи #}
                                        {% for gallery_image in product.productsgallery_set.all %}
                                        <div class="swiper-slide">
                                            <a class="product-image" data-fancybox="gallery"
                                               href="{% if gallery_image.image %}{{ gallery_image.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}">
                                                <img src="{% if gallery_image.image %}{{ gallery_image.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}"
                                                     class="img-fluid"
                                                     alt="{{ product.name }} gallery image {{ forloop.counter }}"
                                                style="width:800px; height:630px;">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if product.productsgallery_set.all %}
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                {% endif %}

                                <div class="product-thumbs-wrap swiper-container"
                                     data-swiper-options='{
                                                 "spaceBetween": 10,
                                                 "slidesPerView": 4,
                                                 "navigation": {
                                                     "nextEl": ".swiper-button-next",
                                                     "prevEl": ".swiper-button-prev"
                                                 }
                                             }'>
                                    <div class="product-thumbs swiper-wrapper row cols-4 gutter-sm">
                                        {# Миниатюра основного изображения #}
                                        <div class="product-thumb swiper-slide">
                                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}"
                                                 class="img-fluid"
                                                 alt="{{ product.name }} thumb"
                                            style="width:auto; height:70px;">
                                        </div>

                                        {# Миниатюры галереи #}
                                        {% for gallery_image in product.productsgallery_set.all %}
                                        <div class="product-thumb swiper-slide">
                                            <img src="{% if gallery_image.image %}{{ gallery_image.image.url }}{% else %}{% static 'site/furbar/images/nophotoyeti.jpg' %}{% endif %}"
                                                 class="img-fluid"
                                                 alt="{{ product.name }} gallery thumb {{ forloop.counter }}"
                                            style="width:auto; height:70px;">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--== End Product Thumbnail Area ==-->
                        </div>
                        <div class="col-lg-6" style="margin-top: 20px">
                            <!--== Start Product Info Area ==-->
                            <div class="product-quick-action product-meta" style="display: flex   ; margin-top: 60px;  width: 360px;">
                                    {% if not user.type == 2 %}
                                    {% if product.quantity == 0 and product.order %}
                                    {% include 'site/shop2/include/form_applications.html' %}
                                    {% else %}
                                     <div class="product-form container" style="padding-left: 0px;">
                                        <form method="post" action="{% url 'shop:add_to_cart' %}" data-product-id="{{ product.id }}" class="add-to-cart-form">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-xl-6" style="max-width: 150px">
                                                    <div class="product-qty-form product-quantity qty-wrap"  data-product="{{ product.id }}">
                                                        <div class="input-group">
                                                            <input name="quantity" class="quantity form-control" id="quantityvalue" data-product="{{ product.id }}" maxlength="{{ product.quantity }}" value="1" min="1" max="{{ product.quantity }}" type="number">
                                                            <button type="button" class="qtyplus inc qty-btn quantity-plus w-icon-plus qty" ></button>
                                                            <button type="button" class="qtyminus dec qty-btn quantity-minus w-icon-minus qty"></button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="variation_slug" value="{{ product.productsvariable_set.all.first.slug }}">
                                                </div>
                                                <div class="col-xl-6">
                                                    <button class="btn btn-primary mobile-button" type="submit">
                                                        <span>В корзину</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    {% endif %}
                                        {% if user.is_authenticated %}
                                        <div class="meta-action" id="bookmark_button_{{ product.id }}" data-product="{{ product.id }}">
                                            {% if product in is_bookmarked %}
                                                <button class=" bookmark btn-product-icon btn-wishlist" type="button" style="cursor: pointer;height:45px " data-type="bookmarkDelete" data-product="{{ product.id }}" >
                                                    <i class="fas fa-times" style="color: #336699"></i>
                                                </button>
                                            {% else %}
                                                <button class=" bookmark btn-product-icon btn-wishlist w-icon-heart" style="cursor: pointer" type="button" data-type="bookmarkAdd" data-product="{{ product.id }}" >
                                                    <i class="pe-7s-like"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    {% endif %}
                                </div>

                            <div class="product-single-info product-details-description" style="margin-top: 60px">
                                <h3 class="main-title">{{product.name}}</h3>
                                 <div class="prices">
                                {% if valute != product.valute %}
                                {% if product.type == 1 %}
                                <span class="price">{% currency_conversion_for_products request product.price product.valute.id %} {{valute.icon_code}}</span>
                                {% else %}
                                <span class="price">{% currency_conversion_for_products request product.productsvariable_set.all.first.price product.valute.id  %} {{valute.icon_code}}</span>
                                {% endif %}
                                {% else %}
                                {% if product.type == 1 %}
                                <span class="price">{{ product.price }} {{valute.icon_code}}</span>
                                {% else %}
                                <span class="price">{{ product.productsvariable_set.all.first.price }} {{valute.icon_code}}</span>
                                {% endif %}
                                {% endif %}
                            </div>
                                <div class="review-wrapper">
                                    <div class="review-star">
                                        <div class="star"
                                             style="width:{% if product.review_rating >= 5 %}100%{%elif product.review_rating >= 4 %}80% {%elif product.review_rating >= 3 %}60%{%elif product.review_rating >= 2 %}40%{%elif product.review_rating >= 1 %}20%{%else%}0%{%endif%} "></div>
                                    </div>
                                </div>
                                <p>{{product.fragment|safe}}</p>

                                {% for variable, attributes in attributes_by_variable.items %}
                                {% if variable.type == 1 %}
                                <div class="product-color">
                                    <span class="label" id="{{ variable.slug }}">{{ variable.name }}:</span>
                                    <ul>
                                        {% for attribute in attributes %}
                                        <li>
                                            <input type="radio" name="{{ variable.slug }}_{{ attribute.id }}"
                                                   id="attribute_{{ attribute.id }}">
                                            <label for="attribute_{{ attribute.id }}">
                                            <span style="border-color: #6c757d !important;
                                            {% if attribute.image %}
                                            background: url('{{attribute.image.url}}');
                                            {% else %}
                                            {{attribute.content}}
                                            {% endif %}
                                            "></span>
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% else %}
                                <div class="single-select2">
                                    <div class="form-select2">
                                        <span class="label">{{ variable.name }} *</span>
                                        <select class="select2" id="attribute_{{ variable.slug }}"
                                                name="{{ variable.slug }}">
                                            {% for attribute in attributes %}
                                            <option value="{{ attribute.id }}">
                                                {{ attribute.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}

                                <div class="product-single-meta">
                                    <ul>
                                        <li><span>Категории:</span>
                                            <a href="{{ product.category.url }}">{{product.category.first}}</a>
                                        </li>
                                        <li><span>На складе:</span>
                                            <a>{{product.quantity}}</a>
                                        </li>
                                        <li>
                                            {% if product.manufacturers.slug %}
                                                <a href="{% url 'shop:manufacturers' product.manufacturers.slug %}">
                                                    <span class="lable">Производитель:</span>
                                                    <span class="value">{{ product.manufacturers }}</span>
                                                </a>
                                            {% else %}
                                                <span class="lable">Производитель:</span>
                                                <span class="value">{{ product.manufacturers }}</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab tab-nav-boxed tab-nav-outline">
                                    <ul class="nav nav-tabs" id="ReviewTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="information-tab" style="border: 2px solid #74BBC6" data-bs-toggle="pill"
                                               href="#description" role="tab" aria-controls="information"
                                               aria-selected="true">Описание</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="description-tab" data-bs-toggle="pill"
                                               href="#information" role="tab" aria-controls="description"
                                               aria-selected="false">Характеристики</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="reviews-tab" data-bs-toggle="pill" href="#reviews"
                                               role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="faq-tab" data-bs-toggle="pill" href="#faq"
                                               role="tab" aria-controls="faq" aria-selected="false">Вопросы</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content product-tab-content" id="ReviewTabContent">
                                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                                             aria-labelledby="information-tab">
                                            <div class="product-information">
                                                <p>{{product.description|safe}}</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="information" role="tabpanel"
                                             aria-labelledby="description-tab">
                                            <div class="product-description">

                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">№</th>
                                                        <th scope="col">Название</th>
                                                        <th scope="col">Значение</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for atribute in product.atribute.all%}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{atribute.variable.name }}</td>
                                                        <td>{{atribute.name }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="reviews" role="tabpanel"
                                             aria-labelledby="reviews-tab">

                                            <div id="reviews-list">
                                                {% include 'site/shop2/include/form_reviews.html' %}
                                                {% include 'site/shop2/include/reviews.html' %}
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">

                                            {% include 'site/shop2/include/form_faqs.html' %}
                                            {% include 'site/shop2/include/faqs.html' %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--== End Product Info Area ==-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
</div>
<style>
    .single-product-thumb-slider .swiper-slide {
        display: none;
    }

    .single-product-thumb-slider .swiper-slide-active {
        display: block;
    }

    .product-thumbs-wrap .swiper-slide {
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    .product-thumbs-wrap .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: revert-layer;
    }

    .logo img {
        max-width: 100%;
        height: unset;
        -o-object-fit: cover;
        object-fit: cover;
        vertical-align: middle;
    }
    img {
        max-width: 100%;
        height: revert-layer;
        -o-object-fit: cover;
        object-fit: cover;
        vertical-align: middle;
    }
    .rating .fa.fa-star{
        color: #ffbb00;
        padding: 0px 3px;
    }
    .pd-wrap {
        padding: 40px 0;
        font-family: 'Poppins', sans-serif;
    }
    .heading-section {
        text-align: center;
        margin-bottom: 20px;
    }
    .sub-heading {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        display: block;
        font-weight: 600;
        color: #2e9ca1;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .heading-section h2 {
        font-size: 32px;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 15px;
        font-family: 'Poppins', sans-serif;
    }
    .user-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: relative;
        min-width: 80px;
        background-size: 100%;
    }
    .carousel-testimonial .item {
        padding: 30px 10px;
    }
    .quote {
        position: absolute;
        top: -23px;
        color: #2e9da1;
        font-size: 27px;
    }
    .name {
        margin-bottom: 0;
        line-height: 14px;
        font-size: 17px;
        font-weight: 500;
    }
    .position {
        color: #adadad;
        font-size: 14px;
    }
    .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        outline: none;
        height: 25px;
    }
    .owl-nav button svg {
        width: 25px;
        height: 25px;
    }
    .owl-nav button.owl-prev {
        left: 25px;
    }
    .owl-nav button.owl-next {
        right: 25px;
    }
    .owl-nav button span {
        font-size: 45px;
    }
    .product-thumb .item img {
        height: 100px;
    }
    .product-name {
        font-size: 22px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 4px;
    }
    .product-price-discount {
        font-size: 22px;
        font-weight: 400;
        padding: 10px 0;
        clear: both;
    }
    .product-price-discount span.line-through {
        text-decoration: line-through;
        margin-left: 10px;
        font-size: 14px;
        vertical-align: middle;
        color: #a5a5a5;
    }
    .display-flex {
        display: flex;
    }
    .align-center {
        align-items: center;
    }
    .product-info {
        width: 100%;
    }
    .reviews-counter {
        font-size: 13px;
    }
    .reviews-counter span {
        vertical-align: -2px;
    }
    .rate {
        float: left;
        padding: 0 10px 0 0;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float: right;
        width: 15px;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 21px;
        color:#ccc;
        margin-bottom: 0;
        line-height: 21px;
    }
    .rate:not(:checked) > label:before {
        content: '\2605';
    }
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
    .product-dtl p {
        font-size: 14px;
        line-height: 24px;
        color: #7a7a7a;
    }
    .product-dtl .form-control {
        font-size: 15px;
    }
    .product-dtl label {
        line-height: 16px;
        font-size: 15px;
    }
    .form-control:focus {
        outline: none;
        box-shadow: none;
    }
    .product-count {
        margin-top: 15px;
    }
    .product-count .qtyminus,
    .product-count .qtyplus {
        width: 34px;
        height: 34px;
        background: #dc3545;
        text-align: center;
        font-size: 19px;
        line-height: 36px;
        color: #fff;
        cursor: pointer;
    }
    .product-count .qtyminus {
        border-radius: 3px 0 0 3px;
    }
    .product-count .qtyplus {
        border-radius: 0 3px 3px 0;
    }
    .product-count .qty {
        width: 60px;
        text-align: center;
    }
    .round-black-btn {
        border-radius: 4px;
        background: #212529;
        color: #fff;
        padding: 7px 45px;
        display: inline-block;
        margin-top: 20px;
        border: solid 2px #212529;
        transition: all 0.5s ease-in-out 0s;
    }
    .round-black-btn:hover,
    .round-black-btn:focus {
        background: transparent;
        color: #212529;
        text-decoration: none;
    }

    .product-info-tabs {
        margin-top: 25px;
    }
    .product-info-tabs .nav-tabs {
        border-bottom: 2px solid #d8d8d8;
    }
    .product-info-tabs .nav-tabs .nav-item {
        margin-bottom: 0;
    }
    .product-info-tabs .nav-tabs .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        color: #323232;
    }
    .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
        border: none;
    }
    .product-info-tabs .nav-tabs .nav-item.show .nav-link,
    .product-info-tabs .nav-tabs .nav-link.active,
    .product-info-tabs .nav-tabs .nav-link.active:hover {
        border: none;
        border-bottom: 2px solid #d8d8d8;
        font-weight: bold;
    }
    .product-info-tabs .tab-content .tab-pane {
        padding: 30px 20px;
        font-size: 15px;
        line-height: 24px;
        color: #7a7a7a;
    }
    .review-form .form-group {
        clear: both;
    }
    .mb-20 {
        margin-bottom: 20px;
    }

    .review-form .rate {
        float: none;
        display: inline-block;
    }
    .review-heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 6px;
        text-transform: uppercase;
        color: #000;
    }
    .review-form .form-control {
        font-size: 14px;
    }
    .review-form input.form-control {
        height: 40px;
    }
    .review-form textarea.form-control {
        resize: none;
    }
    .review-form .round-black-btn {
        text-transform: uppercase;
        cursor: pointer;
    }
</style>

<script src="{% static 'site/wolmart/js/plugins/select2.min.js' %}"></script>
<br>
<br>
<br>
<br>
{% endblock content %}

{% block footer %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("DOM полностью загружен и разобран");

        // Находим все кнопки увеличения и уменьшения количества
        var minusButtons = document.querySelectorAll('.qtyminus');
        var plusButtons = document.querySelectorAll('.qtyplus');

        console.log("Найдено кнопок минус:", minusButtons.length);
        console.log("Найдено кнопок плюс:", plusButtons.length);

        // Добавляем обработчики событий для кнопок уменьшения
        minusButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                console.log("Кнопка минус нажата");
                var input = this.parentNode.querySelector('.qty');
                var value = parseInt(input.value, 10);
                if (value > 1) {
                    input.value = value - 1;
                }
                console.log("Новое значение:", input.value);
            });
        });

        // Добавляем обработчики событий для кнопок увеличения
        plusButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                console.log("Кнопка плюс нажата");
                var input = this.parentNode.querySelector('.qty');
                var value = parseInt(input.value, 10);
                var max = parseInt(input.getAttribute('maxlength'), 10);
                if (value < max) {
                    input.value = value + 1;
                }
                console.log("Новое значение:", input.value);
            });
        });
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const mainSwiper = new Swiper('.single-product-thumb-slider', {
        loop: true,
        slidesPerView: 1,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    const thumbSwiper = new Swiper('.product-thumbs-wrap', {
        spaceBetween: 10,
        slidesPerView: 4,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    // Связываем слайдеры между собой
    mainSwiper.controller.control = thumbSwiper;
    thumbSwiper.controller.control = mainSwiper;
});
</script>
{% endblock footer %}