{% load static generals_tag %}
{% render_subscription_form as subscription_form_context %}

<form method="post" action="{% url 'moderation:subscribe' %}"
      class="input-wrapper input-wrapper-inline input-wrapper-rounded">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ subscription_form_context.csrf_token }}">
    {{ subscription_form_context.form.email }}
    <button class="btn btn-dark btn-rounded" type="submit" style="
    background: #629fcd;
    border: 0;
">Подписаться<i
            class="w-icon-long-arrow-right"></i></button>
</form>
