<div class="page-pagination">
    <ul class="pagination justify-content-center" style="margin-bottom: 40px">
        {% if cooperations.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
        {% endif %}

        {% for i in cooperations.paginator.page_range %}
        {% if cooperations.number == i %}
        <li class="page-item active">
            <a class="page-link" href="#">{{ i }}</a>
        </li>
        {% elif i > cooperations.number|add:'-2' and i < cooperations.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if cooperations.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ cooperations.paginator.num_pages }}" aria-label="Next">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

<style>

    .pagination-items .pagination li a{
        width: auto;
        line-height: 28px;
    }

</style>