{% load generals_tag %}
{% get_banner_vertical request.get_host as vertical_banners %}
<div class="section section-padding-02">
    <div class="container">
        <!-- Banner Wrapper Start -->
        <div class="banner-wrapper">
            <div class="row">
                {% for banner in vertical_banners %}
                <div class="col-lg-4 col-md-6">
                    <!-- Single Banner Start -->
                    <div class="single-banner">
                        <img src="{{ banner.image.url }}" width="370" height="245" alt="Banner" />
                        <div class="banner-content">
                            <div class="banner-content">
                                <h3 class="title">
                                    {{banner.description|safe}}
                                </h3>
                                <span class="discount">{{banner.title|safe}}</span>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Banner Wrapper End -->
    </div>
</div>

